<footer id="footer" class="position-relative">
  <!-- AI 小幫手 -->
  <a class="AI-helper position-fixed" href="#" id="AI-helper">
    <img
      src="/assets/images/AI_Robot/AI_robot_floating_Btn.png"
      alt=""
      class="mb-1"
    />
    <p class="px-3 py-2 rounded-3 fs-body-2 text-center helper">我需要幫忙</p>
  </a>

  <!-- footer 內容 -->
  <div class="container-footer py-5">
    <div class="d-flex flex-column flex-lg-row">
      <div class="d-flex flex-column me-36">
        <img
          class="d-none d-lg-block mb-3"
          src="/assets/images/Logo/Type=Logo-Like it.png"
          alt=""
          style="width: 288px; height: 99px"
        />
        <img
          src="/assets/images/Logo/Type=Logo-來趣學.png"
          alt=""
          style="width: 204px; height: 99px"
        />
      </div>
      <div class="d-flex flex-column w-100">
        <div class="d-flex mb-3 mb-lg-5">
          <div class="fs-body-1 d-flex flex-column link-margin">
            <h2 class="link-title fs-body-1">關於</h2>
            <a href="#" class="link">關於我們</a>
            <a href="#" class="link">合作申請</a>
          </div>
          <div class="fs-body-1 d-flex flex-column link-margin">
            <h2 class="link-title fs-body-1">幫助</h2>
            <a href="#" class="link">常見問題</a>
            <a href="#" class="link">課程許願</a>
            <a href="#" class="link">兌換課程</a>
            <a href="#" class="link">聯絡我們</a>
          </div>
          <div class="fs-body-1 d-flex flex-column">
            <h2 class="link-title fs-body-1">追蹤</h2>
            <a href="#" class="link">Facebook</a>
            <a href="#" class="link">Instagram</a>
            <a href="#" class="link">Line</a>
            <a href="#" class="link">YouTube</a>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <a href="#" class="btn btn-primary d-flex align-items-center"
            ><span class="ic--round-keyboard-arrow-up me-1"></span>回至上方</a
          >
        </div>
      </div>
    </div>
    <hr class="border-neutral-900" />
    <div class="d-flex justify-content-between">
      <p class="fs-body-3">@ 2024 來趣學 Like it</p>
      <p>個人作業使用，無商業行為。</p>
    </div>
  </div>
</footer>
