<!-- tablet nav -->
<nav class="tablet-header accordion w-100 rounded-5 rounded-top-0 bg-white
    d-lg-none float-start position-sticky top-0 outline-shadow-sm overflow-hidden" id="accordionExample">
    <div class="accordion-item overflow-hidden">
        <!-- 標題選單 -->
        <div
            class="d-flex align-items-center justify-content-between rounded-5 rounded-top-0 outline-shadow-sm border-bottom overflow-hidden move">
            <h1 class="fs-6">
                <a href="index.html" class="header-title mx-5 rounded-0">來趣學 Like it</a>
            </h1>
            <div class="accordion-header d-flex" id="headingOne">
                <button class="btn search-btn position-relative" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">
                    <span class="material-symbols-outlined text-neutral-200 fs-4">
                        search
                    </span>
                </button>
                <button class="py-3 w-100 bg-white border-0 ms-2 pe-2" type="button">
                    <span class="material-symbols-rounded school-btn  text-primary-600 fs-4">
                        school
                    </span>
                </button>
                <button class="py-3 w-100 bg-white border-0 ps-2" type="button">
                    <span
                        class="material-symbols-rounded notifications-btn notifications-dot text-primary-600 position-relative fs-4">
                        notifications
                    </span>
                </button>
                <button class="accordion-button user-btn ps-2 py-3 w-100 bg-white" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseMain" aria-expanded="true"
                    aria-controls="collapseMain">
                    <div class="img-border">
                        <div class="user-img"></div>
                    </div>
                </button>
            </div>
        </div>
        <!-- 主要內容 -->
        <div id="collapseMain" class="accordion-collapse collapse" aria-labelledby="headingMain"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <!-- 學習星星 -->
                <div class="row mx-3 border-bottom border-primary-200 pb-3">
                    <div class="col-4 ps-0">
                        <div class="d-flex align-items-center ">
                            <img src="/assets/images/Animation_GIF/Ani_Star.gif" alt="Collection_Star">
                            <p class="fs-4 fw-bold ms-3">9顆</p>
                        </div>
                        <div class="d-flex  align-items-center">
                            <img src="/assets/images/Animation_GIF/Ani_Coin.gif" alt="coin">
                            <p class="fs-4 fw-bold ms-3">5枚</p>
                        </div>
                    </div>
                    <div class="col-8 pe-0">
                        <p class="rounded-3 bg-primary-100 px-5 h-100 d-flex align-items-center">
                            學習星星:每單元觀看消耗 1 顆<br>
                            銀幣:集滿 10 枚，可變成 1 顆星星<br>
                            <br>
                            ※ 星星和銀幣都可以在各個課程中完成任務後獲得，趕快去蒐集吧！
                        </p>
                    </div>

                </div>
                <!--選項按鈕 -->
                <div class="row m-3">
                    <div class="col ps-0">
                        <button
                            class="btn py-3 w-100 border btn-outline-primary text-neutral-950 d-flex justify-content-center align-items-center rounded-3 outline-shadow-sm fs-body-2">
                            <span class="material-icons me-2">
                                account_circle
                            </span>
                            個人檔案
                        </button>
                    </div>
                    <div class="col">
                        <button
                            class="btn py-3 w-100 border btn-outline-primary text-neutral-950 d-flex justify-content-center align-items-center rounded-3 outline-shadow-sm fs-body-2 ">
                            <span class="material-symbols-rounded me-2">
                                school
                            </span>
                            我的課表
                        </button>
                    </div>
                    <div class="col">
                        <button
                            class="btn py-3 w-100 border btn-outline-primary text-neutral-950 d-flex justify-content-center align-items-center rounded-3 outline-shadow-sm fs-body-2">
                            <span class="material-icons me-2">
                                auto_awesome
                            </span>
                            我的成就
                        </button>
                    </div>
                    <div class="col pe-0">
                        <button
                            class="btn py-3 w-100 border btn-outline-primary text-neutral-950 d-flex justify-content-center align-items-center rounded-3 outline-shadow-sm fs-body-2">
                            <span class="material-icons me-2">
                                settings
                            </span>
                            帳號設定
                        </button>
                    </div>
                </div>
                <!--登出按鈕 -->
                <div class="row m-3">
                    <div class="col px-0">
                        <button
                            class="btn py-3 w-100 border btn-outline-primary text-neutral-950 d-flex justify-content-center align-items-center rounded-3 outline-shadow-sm fs-body-2">
                            <span class="material-symbols-rounded me-2">
                                logout
                            </span>
                            登出
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 搜尋 -->
        <div id="collapseSearch" class="accordion-collapse collapse" aria-labelledby="collapseSearch"
            data-bs-parent="#accordionExample">
            <div class="accordion-body p-5">
                <!-- 搜尋欄 -->
                <form class="d-flex position-relative mb-5" role="search">
                    <span class="material-symbols-rounded search-bar-icon position-absolute">
                        search
                    </span>
                    <input class="form-control me-2 py-3 px-8 rounded-pill search-bar-placeholder" type="search"
                        placeholder="搜尋課程" aria-label="Search">
                </form>
                <!-- 熱門搜尋 -->
                <h5 class="mb-3">熱門搜尋</h5>
                <ul class="d-flex gap-2 mb-0">
                    <li><a class="text-primary-700 fs-body-3 bg-primary-100 rounded-3 py-1 px-2" href="#">#畫畫</a></li>
                    <li><a class="text-primary-700 fs-body-3 bg-primary-100 rounded-3 py-1 px-2" href="#">#黏土</a></li>
                    <li><a class="text-primary-700 fs-body-3 bg-primary-100 rounded-3 py-1 px-2" href="#">#畫漫畫</a></li>
                    <li><a class="text-primary-700 fs-body-3 bg-primary-100 rounded-3 py-1 px-2" href="#">#寫書法</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- PC nav -->
<nav
    class="pc-header w-100 bg-primary-100 justify-content-between align-items-center position-sticky top-0 d-none d-lg-flex float-start">
    <h1 class="fs-6">
        <a href="index.html" class="header-title bg-white rounded-start-0">來趣學 Like it</a>
    </h1>
    <div class="accordion position-fixed overflow-hidden  outline-shadow-lg" id="accordionPc">
        <div class="accordion-item overflow-hidden">
            <!-- 標題選單 -->
            <div class="rounded-bottom-0 overflow-hidden border-bottom border-neutral-200 mx-3">
                <div class="accordion-header d-flex align-items-center w-100 " id="headingOne">
                    <button class="btn pc-search-btn position-relative ps-2 pe-2 pe-xxl-3 py-3" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="true"
                        aria-controls="collapseSearch">
                        <div class="search-icon-border">
                            <span class="material-symbols-outlined bg-primary text-white rounded-pill m-1">
                                search
                            </span>
                        </div>
                    </button>
                    <ul class="d-flex align-items-center  gap-2 gap-xxl-3 my-auto">
                        <li class="header-list-item">
                            <a class="w-100 text-neutral-950 d-flex align-items-center
                        justify-content-center text-nowrap fs-body-2 p-1" href="index.html">
                                關於網站
                            </a>
                        </li>
                        <li class="header-list-item">
                            <a class="w-100 text-neutral-950 d-flex align-items-center justify-content-center text-nowrap fs-body-2 p-1"
                                href="#" data-bs-toggle="collapse" data-bs-target="#collapseList" aria-expanded="true"
                                aria-controls="collapseList">
                                課程探索
                            </a>
                        </li>
                        <li class="header-list-item me-xxl-5">
                            <a class="position-relative deco-line w-100 text-neutral-950 d-flex align-items-center justify-content-center text-nowrap fs-body-2 p-1"
                                type="button">
                                訂閱方案
                            </a>
                        </li>
                        <li class="header-list-item-second">
                            <a class="p-1 w-100 border-0 d-flex align-items-center fs-body-2 text-nowrap text-primary-600 "
                                type="button" href="courseInfo.html">
                                <span class="material-symbols-rounded fs-4 me-1">
                                    school
                                </span>
                                <span class="d-none d-xxl-inline school-btn">我的課程</span>
                            </a>
                        </li>
                        <li class="header-list-item-second">
                            <a class="p-1 w-100 border-0 d-flex align-items-center fs-body-2 text-nowrap text-primary-600 "
                                type="button">
                                <span class="material-symbols-rounded position-relative notifications-dot fs-4">
                                    notifications
                                </span>
                                <span class="d-none d-xxl-inline notifications-btn">訊息通知</span>
                            </a>
                        </li>
                    </ul>
                    <button class="accordion-button user-btn py-3 w-100 bg-white" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseMain" aria-expanded="true"
                        aria-controls="collapseMain">
                        <div class="img-border  ms-auto">
                            <div class="user-img-lg d-xxl-block d-lg-none"></div>
                            <div class="user-img d-lg-block d-xxl-none"></div>
                        </div>
                    </button>
                </div>
            </div>
            <!-- 主要內容 -->
            <div id="collapseMain" class="accordion-collapse collapse" aria-labelledby="headingMain"
                data-bs-parent="#accordionPc">
                <div class="accordion-body">
                    <!-- 學習星星 -->
                    <div class="row mx-3 border-bottom border-primary-200 pb-3">
                        <div class="col-lg-5 col-xxl-4 ps-0">
                            <div class="d-flex align-items-center ">
                                <img src="/assets/images/Animation_GIF/Ani_Star.gif" alt="Collection_Star">
                                <p class="fs-4 fw-bold ms-3">9顆</p>
                            </div>
                            <div class="d-flex  align-items-center">
                                <img src="/assets/images/Animation_GIF/Ani_Coin.gif" alt="coin">
                                <p class="fs-4 fw-bold ms-3">5枚</p>
                            </div>
                        </div>
                        <div class="col-lg-7 col-xxl-8 pe-0">
                            <p class="rounded-3 bg-primary-100 px-5 px-lg-3 h-100 d-flex align-items-center">
                                學習星星:每單元觀看消耗 1 顆<br>
                                銀幣:集滿 10 枚，可變成 1 顆星星<br>
                                <br>
                                ※ 星星和銀幣都可以在各個課程中完成任務後獲得，趕快去蒐集吧！
                            </p>
                        </div>

                    </div>
                    <!--選項按鈕 -->
                    <div class="row m-3">
                        <div class="col ps-0">
                            <button
                                class="btn py-3 w-100 border btn-outline-primary text-neutral-950 d-flex justify-content-center align-items-center rounded-3 outline-shadow-sm fs-body-2">
                                <span class="material-icons me-2">
                                    account_circle
                                </span>
                                個人檔案
                            </button>
                        </div>
                        <div class="col">
                            <button
                                class="btn py-3 w-100 border btn-outline-primary text-neutral-950 d-flex justify-content-center align-items-center rounded-3 outline-shadow-sm fs-body-2 ">
                                <span class="material-symbols-rounded me-2">
                                    school
                                </span>
                                我的課表
                            </button>
                        </div>
                        <div class="col">
                            <button
                                class="btn py-3 w-100 border btn-outline-primary text-neutral-950 d-flex justify-content-center align-items-center rounded-3 outline-shadow-sm fs-body-2">
                                <span class="material-icons me-2">
                                    auto_awesome
                                </span>
                                我的成就
                            </button>
                        </div>
                        <div class="col pe-0">
                            <button
                                class="btn py-3 w-100 border btn-outline-primary text-neutral-950 d-flex justify-content-center align-items-center rounded-3 outline-shadow-sm fs-body-2">
                                <span class="material-icons me-2">
                                    settings
                                </span>
                                帳號設定
                            </button>
                        </div>
                    </div>
                    <!--登出按鈕 -->
                    <div class="row m-3">
                        <div class="col px-0">
                            <button
                                class="btn py-3 w-100 border btn-outline-primary text-neutral-950 d-flex justify-content-center align-items-center rounded-3 outline-shadow-sm fs-body-2">
                                <span class="material-symbols-rounded me-2">
                                    logout
                                </span>
                                登出
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 搜尋 -->
            <div id="collapseSearch" class="accordion-collapse collapse" aria-labelledby="collapseSearch"
                data-bs-parent="#accordionPc">
                <div class="accordion-body p-5">
                    <!-- 搜尋欄 -->
                    <form class="d-flex position-relative mb-5" role="search">
                        <span class="material-symbols-rounded search-bar-icon position-absolute">
                            search
                        </span>
                        <input class="form-control me-2 py-3 px-8 rounded-pill search-bar-placeholder" type="search"
                            placeholder="搜尋課程" aria-label="Search">
                    </form>
                    <!-- 熱門搜尋 -->
                    <h5 class="mb-3">熱門搜尋</h5>
                    <ul class="d-flex gap-2 mb-0">
                        <li><a class="text-primary-700 fs-body-3 bg-primary-100 rounded-3 py-1 px-2" href="#">#畫畫</a>
                        </li>
                        <li><a class="text-primary-700 fs-body-3 bg-primary-100 rounded-3 py-1 px-2" href="#">#黏土</a>
                        </li>
                        <li><a class="text-primary-700 fs-body-3 bg-primary-100 rounded-3 py-1 px-2" href="#">#畫漫畫</a>
                        </li>
                        <li><a class="text-primary-700 fs-body-3 bg-primary-100 rounded-3 py-1 px-2" href="#">#寫書法</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 課程探索清單 -->
            <div id="collapseList" class="accordion-collapse collapse" aria-labelledby="collapseList"
                data-bs-parent="#accordionPc">
                <div class="accordion-body px-5 py-4">
                    <ul class="collapse-list-item d-flex flex-wrap gap-2 my-auto">
                        <li><a href="#" class="text-neutral-950 p-1 fs-body-2">自然探索</a></li>
                        <li><a href="#" class="text-neutral-950 p-1 fs-body-2">理財管理</a></li>
                        <li><a href="#" class="text-neutral-950 p-1 fs-body-2">認識文化</a></li>
                        <li><a href="#" class="text-neutral-950 p-1 fs-body-2">音樂素養</a></li>
                        <li><a href="#" class="text-neutral-950 p-1 fs-body-2">科技應用</a></li>
                        <li><a href="courseList.html" class="text-neutral-950 p-1 fs-body-2">美學素養</a></li>
                        <li><a href="#" class="text-neutral-950 p-1 fs-body-2">心靈成長</a></li>
                        <li><a href="#" class="text-neutral-950 p-1 fs-body-2">人際關係</a></li>
                        <li><a href="#" class="text-neutral-950 p-1 fs-body-2">邏輯推理</a></li>
                        <li><a href="#" class="text-neutral-950 p-1 fs-body-2">創意訓練</a></li>
                        <li><a href="#" class="text-neutral-950 p-1 fs-body-2">媒體識別</a></li>
                        <li><a href="#" class="text-neutral-950 p-1 fs-body-2">健康營養</a></li>
                        <li><a href="#" class="text-neutral-950 p-1 fs-body-2">所有課程</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>