<!-- 大綱頁 課程加入收藏通知 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  mt-11">
        <div class="modal-content bg-success-100 border-2 border-success outline-shadow-sm">
            <div class="modal-body  d-flex justify-content-center fs-body-1">
                <i class="bi bi-heart-fill me-3"></i>已加入收藏
            </div>
        </div>
    </div>
</div>

<!-- 手機版時提示通知 -->
<div class="modal fade" id="mobileModal" tabindex="-1" aria-labelledby="mobileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-neutral-900 mx-auto mt-11" style="max-width: 342px;">
            <div class="modal-header bg-warning border-0">
            </div>
            <div class="modal-body text-center py-5">
                <h5 class="modal-title mx-auto fw-bold mb-2" id="mobileModalLabel">請使用電腦或平板觀看</h5>
                <img class="mb-2" src="/assets/images/Animation_GIF/Ani_Vision-care.gif" alt=""
                    style="width: 195px; height: 92px; object-fit: cover;">
                <p class="fs-body-2 mb-5">為保護眼睛健康<br>請轉換裝置以達最佳觀賞品質</p>
                <button type="button"
                    class="bg-warning border-1 rounded-3 outline-shadow-sm px-4 py-3 fs-body-2 mx-auto"
                    data-bs-dismiss="modal">我知道了</button>
            </div>
        </div>
    </div>
</div>