<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  mt-11">
        <div class="modal-content bg-success-100 border-2 border-success outline-shadow-sm">
            <div class="modal-body  d-flex justify-content-center fs-body-1">
                <i class="bi bi-heart-fill me-3"></i>已加入收藏
            </div>
        </div>
    </div>
</div>