.AI-box {
  max-width: 680px;
  height: 412px;

  @include pad-lg {
    max-width: 1200px;
    height: 500px;
  }

  .AI-img {
    max-width: 241px;
    height: auto;

    @include pad-lg {
      max-width: 325px;
    }
  }

  .btn-light {
    --bs-btn-bg: #fff;
    --bs-btn-hover-bg: #fff;
  }

  //   對話框樣式
  .dialog-box {
    width: 173px;
    height: 98px;
    font-weight: 700;
    color: $neutral-950;
    background-color: #fff;
    box-shadow: 7px 7px 0px 0px $primary-200;
    border: 1px solid $neutral-900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include pad-lg {
      width: 298px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 163px;
      height: 86px;
      background-color: transparent;
      border: 1px solid $primary-400;
      top: 6px;
      left: 5px;

      @include pad-lg {
        width: 288px;
      }
    }

    &:hover {
      background-color: $secondary-200;

      &::after {
        border: 1px solid $neutral-950;
      }
    }

    &:active {
      box-shadow: none;
      translate: 7px 7px;
    }
  }

  //   對話框邊框造型
  .dialog-left {
    border-radius: 32px 32px 0px 32px;

    &::after {
      border-radius: 32px 32px 0px 32px;
    }
  }

  .dialog-right {
    border-radius: 32px 32px 32px 0px;

    &::after {
      border-radius: 32px 32px 32px 0px;
    }
  }

  //   對話框位置
  .dialog-top-left {
    position: absolute;
    top: 32px;
    left: 32px;

    @include pad-xxl {
      top: 64px;
      left: 112px;
    }
  }

  .dialog-top-right {
    position: absolute;
    top: 32px;
    right: 32px;

    @include pad-xxl {
      top: 64px;
      right: 112px;
    }
  }

  .dialog-bottom-left {
    position: absolute;
    bottom: 32px;
    left: 32px;

    @include pad-xxl {
      bottom: 120px;
      left: 72px;
    }
  }

  .dialog-bottom-right {
    position: absolute;
    bottom: 32px;
    right: 32px;

    @include pad-xxl {
      bottom: 120px;
      right: 72px;
    }
  }
}
