.courseInfo-banner {
    .card {
        max-width: 680px;
    }
    .add-btn{
        transition: ease 0.2s;
        
        &:hover{
        background-color: #FFF !important;
        }
    }

    // 
    .breadcrumb-item {
        a {
            color: black;
        }

        &.active {
            color: $primary !important;
        }
    }
    // 文字間距
    .breadcrumb-item + .breadcrumb-item{
        padding-left: 20px;
    }
    /* 麵包屑連結的 hover 效果 */
    .breadcrumb-link:hover {
        color: $primary-700 !important; /* 設定你想要的 hover 顏色 */
        font-weight: 700;
    }
    
    // 覆蓋預設符號圖片
    .breadcrumb-item::before{
        content: "" !important;
    }
    
    /* 使用 ::after 偽元素顯示符號圖片 */
    .breadcrumb-item::after {
        content: "";
        display: inline-block;
        width: 6.58px; 
        height: 11.17px;
        background-image: url(/assets/images/Icon/arrow_right_black.png); /* 符號圖片 */
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 13px; /* 符號與文字之間的間距 */
    }
    
    /* 當 hover 文字時，同時變換符號圖片 */
    .breadcrumb-item a:hover + .breadcrumb-item::after,
    .breadcrumb-item:hover::after {
        background-image: url(/assets/images/Icon/arrow_right_blue.png);
        background-size: cover;
        width: 6.58px; 
        height: 11.17px;
    }
    
    /* 隱藏最後一個項目的符號 */
    .breadcrumb-item:last-child::after {
        content: none;
    }
    
    // 
}

@include media-breakpoint-up(lg) {
    .courseInfo-banner {
        .card {
            max-width: 100%;
        }
    }
}

.info-main {
    .main-wrap {
        max-width: 680px;
    }

    // 課程介紹區域外框上方藍色裝飾
    .main-wrap::after {
        content: "";
        width: 100%;
        height: 38px;
        background-color: $primary;
        position: absolute;
        border-radius: 32px 32px 0 0;
        top: 0;
        left: 0;
    }

    .accordion-button:focus {
        box-shadow: none !important;
    }
}


@include media-breakpoint-up(lg) {
    .info-main {
        .main-wrap {
            max-width: 100%;
            padding-left: 114px !important;
            padding-right: 114px !important;
            transition: ease 0.3s;
        }
    }
}

@include media-breakpoint-up(xl) {
    .info-main {
        .main-wrap {
            padding-left: 171px !important;
            padding-right: 171px !important;
        }
    }
}

@include media-breakpoint-up(xxl) {
    .info-main {
        .main-wrap {
            padding-left: 228px !important;
            padding-right: 228px !important;
        }
    }
}


.course-intro {
    margin-top: 38px;

    // 遮蔽文字漸層裝飾
    .gradient::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 90px;
        background: linear-gradient(to bottom, transparent, #FFFFFFB3, #E1EFFD 70%);
        border-radius: 0 0 32px 32px;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    // 限制文字行數
    .text {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    // 點選label時選擇.open input，使.text增加行數
    .open:checked+.text {
        -webkit-line-clamp: 999;
    }

    // 點選時隱藏遮蔽文字漸層
    .open:checked+.gradient::after {
        display: none;
    }

    .btn {
        z-index: 2;
    }

    .btn::after {
        content: "查看更多";
    }

    // 展開文字時按鈕切換文字
    .open:checked+.text .btn::after {
        content: "收起";
    }

    // 展開文字時按鈕切換位置
    .open:checked+.text .btn {
        left: 85% !important;
    }

    .outline-shadow-sm:hover{
        box-shadow: 4px 4px 0px 0px $primary-200 !important
    }

}

@include media-breakpoint-up(md) {
    .course-intro {
        .gradient::after {
            display: none;
        }
    }
}

.course-unit {
    .note {
        margin-left: 34px;
        padding: 3px 0;
    }

    // 標題跟副標題中間直線裝飾
    .note::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: $neutral-200;
        left: -16px;
        top: 0px;
    }

    // 修改手風琴標題欄打開時的樣式
    .accordion-button:not(.collapsed) {
        border-radius: 32px 32px 0 0 !important;
        box-shadow: none !important;
        color:$neutral-950 !important;
    }

    .accordion-button {
        line-height: 35.2px;
    }

    // 修改手風琴右側開合icon
    .accordion-button::after {
        background-image: url(/assets/images/Icon/arrow_blue.png) !important;
        margin-left: 4px !important;
        background-size: 11px 6.5px !important;
        background-position: center !important;
        z-index: 3;
    }


    .accordion-unit2 {
        .accordion-button::after {
            background-image: url(/assets/images/Icon/arrow_black.png) !important;
            margin-left: 4px !important;
            background-size: 11px 6.5px !important;
            background-position: center !important;
            z-index: 3;
        }
    }

    //  單元a連結hover樣式
    .link-style{
        &:hover{
            a,span{
            color: $primary-600 !important;
            }
        }
    }
    // 單元a連結active樣式
    .unit-link-active{
        a{
            color: $primary-600 !important;
        }
    }

    // 單元a連結禁用+hover樣式
    .link-disabled{
        background-color: $neutral-100;
        a{
        pointer-events: none;
        color: $neutral-500 !important;
        }

        &:hover{
            a{
            color: $neutral-950 !important;
            }
        }
    }
}

.course-lecturer {
    .card-body {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .teacher-photo {
        background-image: url(/assets/images/Teacher/teacher_Lisa_lg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}

@include media-breakpoint-up(lg) {
    .course-lecturer {
        .card-body {
            padding-top: 76px;
            padding-bottom: 76px;
        }
    }
}

.course-review {
    .note {
        margin-left: 34px;
        padding: 3px 0;
    }

    // 標題跟副標題中間直線裝飾
    .note::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: $neutral-200;
        left: -16px;
        top: 0px;
    }

    // 遮蔽文字漸層裝飾
    .gradient::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 90px;
        background: linear-gradient(to bottom, transparent 0%, #FFFFFF 70%);
        border-radius: 0 0 32px 32px;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    // 限制文字行數
    .text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    // 點選label時選擇.open input，使.text增加行數
    .open-review-card1:checked+.text {
        -webkit-line-clamp: 999;
    }

    .open-review-card2:checked+.text {
        -webkit-line-clamp: 999;
    }

    .open-review-card3:checked+.text {
        -webkit-line-clamp: 999;
    }

    .open-review-card4:checked+.text {
        -webkit-line-clamp: 999;
    }

    // 點選時隱藏遮蔽文字漸層
    .open-review-card1:checked+.gradient::after {
        display: none;
    }

    .open-review-card2:checked+.gradient::after {
        display: none;
    }

    .open-review-card3:checked+.gradient::after {
        display: none;
    }

    .open-review-card4:checked+.gradient::after {
        display: none;
    }

    .btn {
        z-index: 2;
    }

    .btn::after {
        content: "展開留言";
    }

    // 展開文字時按鈕切換文字
    .open-review-card1:checked+.text .btn::after {
        content: "收起";
    }

    .open-review-card2:checked+.text .btn::after {
        content: "收起";
    }

    .open-review-card3:checked+.text .btn::after {
        content: "收起";
    }

    .open-review-card4:checked+.text .btn::after {
        content: "收起";
    }

    // 展開文字時按鈕切換位置
    .open-review-card1:checked+.text .btn {
        left: 85% !important;
    }

    .open-review-card2:checked+.text .btn {
        left: 85% !important;
    }

    .open-review-card3:checked+.text .btn {
        left: 85% !important;
    }

    .open-review-card4:checked+.text .btn {
        left: 85% !important;
    }
}


.course-page {
    .pagination {
        .page-link {
            color: $neutral-950 !important;
        }

        .active>.page-link {
            background-color: #FFFFFF !important;
            border-bottom: $primary-600 2px solid !important;
            color: $primary-600 !important;
        }
    }
}

.similar-course,
.recommand-course {

    .card{
        .col-5{
            width:45.3% !important;
        }

        &:hover{
            .course-img{
                transform: scale(1.2);
            }
        }
    }
    .course-img{
        transition: 0.5s;
        object-fit: cover;
    }

    .note {
        margin-left: 34px;
    }

    // 標題跟副標題中間直線裝飾
    .note::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: $neutral-200;
        left: -16px;
        top: 0px;
    }

    .more-link{
        &:hover{
        font-weight: 700;
        color: $primary-700 !important;
        }
        &:active{
            color:$primary-600;
            background-color: $primary-50;
            border-radius: 16px;
        }
    }
}

@include media-breakpoint-up(lg) {

    .similar-course,
    .recommand-course {
        .card{
            .col-5{
                width:100% !important;
            }
        }
    }
}