// 畫面右下 AI 小幫手
.AI-helper {
  bottom: 16px;
  right: 80px;
  z-index: 4;
  color: $neutral-950;

  &:active {
    translate: 4px 4px;
  }

  .helper {
    box-shadow: 4px 4px 0px 0px $primary-200;
  }

  &:hover {
    .helper {
      box-shadow: 4px 4px 0px 0px $primary-500;
    }
  }

  &:active {
    .helper {
      box-shadow: none;
    }
  }
}

// 首頁 Banner
.banner-index {
  position: relative;

  &::after {
    position: absolute;
    right: 0;
    top: -48px;
    z-index: -1;
    content: "";
    display: block;
    height: 647px;
    width: 268px;
    background: url(/assets/images/Bg_Blob/Bg_Tablet_Home_Blob.png);

    @include pad-lg {
      right: 25%;
      top: -300px;
      height: 649px;
      width: 654px;
      background: url(/assets/images/Bg_Blob/Bg_Desktop_Home_Header_Blob_2.png);
    }
  }

  &::before {
    @include pad-lg {
      position: absolute;
      left: 0;
      top: 70%;
      z-index: -1;
      content: "";
      display: block;
      height: 624px;
      width: 379px;
      background: url(/assets/images/Bg_Blob/Bg_Desktop_Home_Header_Blob_1.png);
    }
  }

  .banner-img {
    max-width: 100%;
    height: auto;

    @include pad-lg {
      max-width: 100%;
      height: auto;
    }
  }

  // ↓ 消除 x 軸
  .row {
    --bs-gutter-x: 0rem;
  }

  // ↑

  .slogan {
    @include pad-lg {
      // max-width: 279px;
      margin-left: 70px;
    }
    @include pad-xl {
      margin-left: 90px;
    }
    @include pad-xxl {
      margin-left: 130px;
    }
  }

  .swiperBanner {
    border: 1px solid $neutral-900;
    border-right: none;
    border-radius: 32px 0 0 32px;
    background-color: white;
    padding: 16px 0 14px 16px;
    margin-left: 32px;
    margin-bottom: 52px;

    @include pad-lg {
      margin-left: 0px;
    }
  }

  .ic--round-keyboard-arrow-left {
    display: inline-block;
    width: 56px;
    height: 56px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M14.71 15.88L10.83 12l3.88-3.88a.996.996 0 1 0-1.41-1.41L8.71 11.3a.996.996 0 0 0 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0c.38-.39.39-1.03 0-1.42'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    position: relative;
    transition: 0.1s;
  }

  .swiper-arrow {
    width: 72px;
    height: 72px;
    background-color: white;
    border: 1px solid $neutral-900;
    border-radius: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: -1;
    transition: 0.2s;
  }

  // swiper 箭頭 hover
  .swiper-next {
    &:hover {
      .ic--round-keyboard-arrow-left {
        width: 72px;
        height: 72px;
      }
      .swiper-arrow {
        width: 86px;
        height: 86px;
        background-color: $secondary-200;
      }
    }
  }

  // swiper 覆蓋
  // ↓ 複製 第八周作業 Lv2 wind chiu 同學程式碼
  .swiperBanner-overlay {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba($white, 0.7);
      transition: background-color 0.3s ease;
    }
  }

  .swiper-slide-active {
    &.swiperBanner-overlay {
      &::before {
        background-color: rgba($white, 0);
      }
    }
  }

  // ↑ Github；https://github.com/windj7y/2024-layout-week8/blob/0f7db518b9249afbf32a7441a6c83b22b9c9c593/assets/scss/pages/_index.scss#L15

  // 陰影
  .swiperBanner-shadow {
    box-shadow: 0px 7px 0px 0px $primary-200;

    &:hover {
      box-shadow: 0px 7px 0px 0px $primary-500;
    }
  }

  // pagination 顏色
  .pagination-color {
    --swiper-pagination-color: #42a9f1;
  }

  // pagination 大小
  .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 19px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 19px)
    );
  }

  // pagination 位置
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, -57px);
    top: var(--swiper-pagination-top, auto);
    left: 50%;
    width: auto;
    position: absolute;
  }

  // pagination 點點間距
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
  }
}

// 你想了解什麼 ?
.container-index {
  padding: 0 32px;

  @include pad-xl {
    padding: 0 120px;
  }
}

// 繼續上課
.view-more {
  color: $neutral-950;

  &:hover {
    color: $primary-600;
    font-weight: 700;
  }

  &:active {
    color: $primary-700;
  }
}

.continue-courses,
.recommand-courses {
  max-width: 1200px;
}

// 12 大領域
.category {
  max-width: 1200px;

  .category-header {
    height: 125px;
    width: 100%;
    border-radius: 32px 32px 0 0;
  }

  .category-card {
    height: 144px;
    position: relative;
    box-shadow: 7px 7px 0px 0px $primary-200;
    border: 1px solid $neutral-900;
    border-radius: 16px;
    transition: 0.2s;

    @include pad-lg {
      height: 361px;
    }

    // 卡片 hover
    &:hover {
      box-shadow: 7px 7px 0px 0px $secondary-500;

      &::after {
        background-color: $secondary-200;
      }

      // 背景圓圈縮小
      .circle {
        width: 81px;
        height: 81px;
        margin-left: 12.5px;
        margin-right: 27.5px;

        @include pad-lg {
          width: 155px;
          height: 155px;
          margin: 48.5px 0;
        }
      }

      // 圖片變大
      img {
        @include pad-lg {
          width: 261.39px;
        }
      }
    }

    &:active {
      box-shadow: none;
      translate: 7px 7px;
      box-shadow: none;
    }

    &::after {
      content: "";
      width: 100%;
      height: 128px;
      background-color: $primary-100;
      position: absolute;
      top: 8px;
      left: 0;
      border-radius: 16px;
      z-index: -1;
      transition: 0.2s;

      @include pad-lg {
        height: 345px;
        left: 8px;
        width: calc(100% - 16px);
      }
    }
  }

  .circle {
    width: 106px;
    height: 106px;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid $neutral-900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: 0.2s;

    @include pad-lg {
      width: 220px;
      height: 220px;
      margin-right: 0px;
    }
  }

  img {
    width: 98.35px;
    height: auto;
    object-fit: cover;

    @include pad-lg {
      width: 176.32px;
    }
  }
}

.parents-words {
  background-color: $primary-100;
  border-radius: 32px 32px 0 0;

  @include pad-lg {
    border-radius: 80px 80px 0 0;
  }

  //   Anna ↓
  // 遮蔽文字漸層裝飾
  .gradient::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90px;
    background: linear-gradient(to bottom, transparent 0%, #ffffff 70%);
    border-radius: 0 0 32px 32px;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  // 限制文字行數
  .text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  // 點選label時選擇.open input，使.text增加行數
  .open-review-card1:checked + .text {
    -webkit-line-clamp: 999;
  }

  .open-review-card2:checked + .text {
    -webkit-line-clamp: 999;
  }

  .open-review-card3:checked + .text {
    -webkit-line-clamp: 999;
  }

  .open-review-card4:checked + .text {
    -webkit-line-clamp: 999;
  }

  // 點選時隱藏遮蔽文字漸層
  .open-review-card1:checked + .gradient::after {
    display: none;
  }

  .open-review-card2:checked + .gradient::after {
    display: none;
  }

  .open-review-card3:checked + .gradient::after {
    display: none;
  }

  .open-review-card4:checked + .gradient::after {
    display: none;
  }

  .btn {
    z-index: 2;
    padding: 10.2px 18.8px;
  }

  .btn::after {
    content: "展開留言";
  }

  // 展開文字時按鈕切換文字
  .open-review-card1:checked + .text .btn::after {
    content: "收起";
  }

  .open-review-card2:checked + .text .btn::after {
    content: "收起";
  }

  .open-review-card3:checked + .text .btn::after {
    content: "收起";
  }

  .open-review-card4:checked + .text .btn::after {
    content: "收起";
  }

  // 展開文字時按鈕切換位置
  .open-review-card1:checked + .text .btn {
    left: 85% !important;
  }

  .open-review-card2:checked + .text .btn {
    left: 85% !important;
  }

  .open-review-card3:checked + .text .btn {
    left: 85% !important;
  }

  .open-review-card4:checked + .text .btn {
    left: 85% !important;
  }
}

// 1 對 1 講師

// z-index: 1  border
// z-index: 2  overlay
// z-index: 3  「前往了解」按鈕
// z-index: 4  AI 小幫手

.one-to-one {
  background-color: $primary-100;

  .lecturer-card {
    height: 302px;
    background-color: #ffffff;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 302px;
      position: absolute;
      border: 1px solid $neutral-900;
      border-radius: 32px;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  //   平板_「前往了解」按鈕：置於 border 上層才點擊得到
  .swiperLecturers {
    a {
      z-index: 3;
    }
  }

  .card-img-left {
    border-radius: 32px 0 0 32px;
    height: 302px;
    width: 218px;
    object-fit: cover;
  }

  .right-center {
    object-position: right center;
  }

  .card-body {
    padding: 24px 32px 24px 24px;
  }

  // 限制文字行數
  .text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .btn-light {
    --bs-btn-bg: #fff;
    --bs-btn-hover-bg: #fff;
    --bs-btn-active-bg: #fff;
    border: 1px solid $neutral-900;
    box-shadow: 4px 4px 0px 0px $primary-200;
    padding: 16px 24px;

    &:hover {
      box-shadow: 4px 4px 0px 0px $primary-500;
    }

    &:active {
      box-shadow: none;
      translate: 4px 4px;
    }
  }

  .swiper-wrapper-20 {
    padding-top: 20px;
  }

  .swiperLecturers-overlay {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      border-radius: 32px;
      background-color: rgba(0, 0, 0, 0.3);
      transition: background-color 0.3s ease;
      z-index: 2;
    }
  }

  .swiper-slide-active {
    &.swiper-slide-20 {
      top: -20px;
    }

    &.swiperLecturers-overlay {
      &::before {
        background-color: rgba(0, 0, 0, 0);
      }

      //   電腦_「前往了解」按鈕；置於 overlay 上層才點擊得到
      a {
        z-index: 3;
      }
    }
  }

  // pagination 顏色
  .pagination-color {
    --swiper-pagination-color: #42a9f1;
  }

  // pagination 大小
  .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 19px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 19px)
    );
  }

  // pagination 點點間距
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
  }

  // swiper 箭頭 hover
  .swiper-lecturers-next {
    translate: -52px;

    &:hover {
      translate: -35px;

      .ic--round-keyboard-arrow-right {
        width: 72px;
        height: 72px;
      }

      .swiper-arrow {
        background-color: $secondary-200;
        width: 86px;
        height: 86px;
      }
    }
  }

  .swiper-lecturers-prev {
    margin-left: 93px;

    &:hover {
      .ic--round-keyboard-arrow-left {
        width: 72px;
        height: 72px;
      }

      .swiper-arrow {
        background-color: $secondary-200;
        width: 86px;
        height: 86px;
      }
    }
  }

  .ic--round-keyboard-arrow-left {
    display: inline-block;
    width: 56px;
    height: 56px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M14.71 15.88L10.83 12l3.88-3.88a.996.996 0 1 0-1.41-1.41L8.71 11.3a.996.996 0 0 0 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0c.38-.39.39-1.03 0-1.42'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    position: relative;
  }

  .ic--round-keyboard-arrow-right {
    display: inline-block;
    width: 56px;
    height: 56px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9.29 15.88L13.17 12L9.29 8.12a.996.996 0 1 1 1.41-1.41l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3a.996.996 0 0 1-1.41 0c-.38-.39-.39-1.03 0-1.42'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .swiper-arrow {
    width: 72px;
    height: 72px;
    background-color: white;
    border: 1px solid $neutral-900;
    border-radius: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: -1;
  }
}
