<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="../assets/images/Favicon/Favicon 32x32.png" type="image/x-icon">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20,400,1,0" />

  <title>來趣學Like it 課程大綱</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <!-- banner -->
    <section class="courseInfo-banner header-spacer pb-7">
      <div class="container  d-flex pt-7">
        <div class="card mb-3 border-0 rounded-5 mx-auto">
          <!-- breadcrumb -->
          <nav class="mb-5" style="--bs-breadcrumb-divider: url(../assets/images/Icon/arrow_right.png);"
            aria-label="breadcrumb">
            <ol class="breadcrumb fs-body-2 text-neutral-950 fw-normal">
              <li class="breadcrumb-item"><a class=" text-neutral-950" href="index.html">首頁</a></li>
              <li class="breadcrumb-item"><a class=" text-neutral-950" href="courseList.html">美學素養</a></li>
              <li class="breadcrumb-item active"><a class="text-primary" href="courseInfo.html">課程大綱</a>
              </li>
            </ol>
          </nav>
          <!-- 上半部圖片 -->
          <picture class="mb-5">
            <source srcset="../assets\images\Course_Cover\Course-cover-sm.png" media="(max-width: 774px)">
            <img class="img-fluid rounded-5" src="../assets/images/Course_Cover/色彩魔法師-2.png" alt="色彩魔法師2">
          </picture>
          <!-- 下半部文字按鈕-->
          <div class="card-body px-0 py-0">
            <div class="row  d-flex flex-column flex-lg-row justify-content-lg-between">
              <div class="col-xl-4 col-lg-5 pe-0 mb-5 mb-lg-0">
                <!-- tag -->
                <ul class="d-flex">
                  <li class="rounded-3 bg-primary-100 text-primary-700 me-2 px-2 py-1 ">美學素養
                  </li>
                  <li class="rounded-3 bg-primary-100 text-primary-700 me-2 px-2 py-1">
                    初階
                  </li>
                  <li class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">
                    色彩學
                  </li>
                </ul>
                <!-- 標題 進度條 -->
                <div class="card-title">
                  <h3 class="mb-3 fw-bold">色彩魔法師</h3>
                  <ul class="d-flex fs-body-1 text-nowrap">
                    <li class="me-3"><i class="bi bi-clock-fill me-2 text-primary"></i>總時長 95 分鐘
                    </li>
                    <li><i class="bi bi-bookmark-fill me-2 text-primary"></i>2 個章節 5 個單元</li>
                  </ul>
                  <p class="fs-body-1 fw-bold text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center">
                    <div class="progress w-100 me-3" style="height: 15px;">
                      <div class="progress-bar bg-primary-300" role="progressbar" style="width: 70%" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="text-neutral-500">70%</p>
                  </div>
                </div>
              </div>
              <!-- button -->
              <div class="col-lg-6 d-lg-flex align-items-lg-end">
                <div class="card-body py-0 px-2">
                  <div class="row mt-auto">
                    <div class="col-3 col-lg-3 ps-0">
                      <button type="button"
                        class="add-btn btn border-neutral-900 outline-shadow-sm fs-body-2 w-100 py-3 rounded-3">
                        <span class="d-none d-xxl-inline">加入</span>收藏
                      </button>
                      <button type="button"
                        class="add-btn d-none btn border-danger text-danger fs-body-2 w-100 py-3 rounded-3 text-nowrap">
                        <i class="bi bi-heart-fill me-1 me-xxl-2"></i>
                        已收藏
                      </button>
                    </div>
                    <div class="col-9 col-lg-9 pe-0">
                      <a href="courseVideo.html" type="button"
                        class="btn btn-primary border fs-body-2 w-100 text-white fw-bold py-3 rounded-3">立即觀看</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
    </section>
    <!-- main -->
    <main class="info-main bg-primary-100 py-9">
      <div class="container">
        <div class="main-wrap rounded-5 border position-relative mx-auto px-5 py-7 bg-white">
          <!-- 課程簡介 -->
          <section class="course-intro mb-7">
            <h4 class="fw-bold mb-5">課程簡介</h4>
            <div class="position-relative">
              <input type="checkbox" id="open" class="open d-none" />
              <p
                class="card card-body fs-body-1 rounded-5 border bg-primary-100 outline-shadow-sm p-5 pb-md-5 pb-7 text position-relative gradient">
                在「色彩魔法師」課程中，小朋友將踏上一段奇妙的色彩冒險！通過互動遊戲和創意活動，孩子們將學習色彩理論、調色技巧和色彩心理學的基礎知識。我們將探索自然界的繽紛色彩，創作獨特的藝術作品，並了解色彩在日常生活中的應用。課程旨在培養孩子的審美能力、創造力和自我表達能力，激發他們對視覺藝術的熱愛，為未來的藝術探索打下堅實基礎。
                <label
                  class="btn btn-light border rounded-3 position-absolute bottom-0 start-50 translate-middle-x mb-4 d-md-none text-nowrap"
                  for="open">
                </label>
              </p>
            </div>
          </section>
          <!-- 課程單元 -->
          <section class="course-unit mb-7">
            <h4 class="fw-bold d-flex align-items-center mb-5">
              課程單元<span class="fw-normal note position-relative fs-body-3 fs-md-body-1 text-neutral-500">總時長 95 分鐘，2 個章節
                5
                個單元</span>
            </h4>
            <!-- 章節一 -->
            <div class="accordion outline-shadow-lg rounded-5 mb-5" id="accordionPanelsStayOpenExample">
              <div class="accordion-item rounded-5 overflow-hidden">
                <h2 class="accordion-header position-relative">
                  <button class="accordion-button fw-bold px-5 bg-primary-100 fs-body-1" type=" button"
                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    章節一
                    <span class="fs-md-body-2 fw-normal text-primary-700 ms-auto">
                      3 個單元 | 00 小時 50分鐘</span>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                  <div class="accordion-body px-0 py-0">
                    <ul class="mb-0">
                      <li class="unit-link-active d-flex border-bottom border-neutral-100 px-8 link-style">
                        <a href="#"
                          class="text-neutral-950 fs-body-md-1 text-truncate w-100 py-3">單元一：彩虹冒險-認識色彩的奧秘</a><span
                          class="text-neutral-500 ms-auto py-3">12:06</span>
                      </li>
                      <li class="d-flex border-bottom border-neutral-100 px-8 link-style">
                        <a href="#"
                          class="text-neutral-950 fs-body-md-1 text-truncate w-100 py-3">單元二：調色魔法-創造你的專屬色彩</a><span
                          class="text-neutral-500 ms-auto py-3">14:15</span>
                      </li>
                      <li class="d-flex px-8 link-style">
                        <a href="#"
                          class="text-neutral-950 fs-body-md-1 text-truncate w-100 py-3">單元三：色彩心情屋-感受顏色的力量</a><span
                          class="text-neutral-500 ms-auto py-3">24:03</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- 章節二 -->
            <div class="accordion-unit2 accordion outline-shadow-lg rounded-5 mb-5" id="accordionPanelsStayOpenExample">
              <div class="accordion-item rounded-5 overflow-hidden">
                <h2 class="accordion-header position-relative">
                  <button class="accordion-button fw-bold px-5 bg-primary-100 fs-body-1" type=" button"
                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    章節二
                    <span class="fs-md-body-2 fw-normal text-neutral-500 ms-auto">
                      2 個單元 | 00 小時 45 分鐘</span>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                  <div class="accordion-body px-0 py-0">
                    <ul class="mb-0">
                      <li class="d-flex border-bottom border-neutral-100 px-8 py-3  link-disabled">
                        <a href="#" class="text-neutral-950 fs-body-md-1 text-truncate">單元一：色彩心理-感受顏色的情緒和力量</a><span
                          class="text-neutral-500 ms-auto">22:30</span>
                      </li>
                      <li class="d-flex px-8 py-3  link-disabled">
                        <a href="#" class="text-neutral-950 fs-body-md-1 text-truncate">單元二：色彩影響-生活中的色彩影響</a><span
                          class="text-neutral-500 ms-auto">23:05</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- 關於講師 -->
          <section class="course-lecturer mb-7">
            <h4 class="fw-bold mb-5">關於講師</h4>
            <div class="card mb-3 mx-auto rounded-5 border" style="max-width: 100%">
              <div class="row g-0">
                <div class="col teacher-photo rounded-5 rounded-end-0"></div>
                <div class="col-8">
                  <div class="card-body px-5 mx-auto">
                    <h4 class="card-title fw-bold mb-3">林彩虹</h4>
                    <p class="card-text fs-body-2">
                      擁有紐約視覺藝術學院碩士學位，專攻色彩學和兒童藝術教育。她有超過
                      10
                      年的兒童藝術教學經驗，曾在多家知名美術館擔任兒童藝術工作坊導師。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--學習心得 -->
          <section class="course-review mb-7">
            <h4 class="fw-bold d-flex align-items-center mb-5">
              學習心得<span
                class="fw-normal note position-relative fs-body-3 fs-md-body-1 text-neutral-500">快來看看同學們寫了什麼~</span>
            </h4>
            <!-- 心得卡片 -->
            <div class="row g-4">
              <div class="col">
                <div class="position-relative">
                  <!-- 展開按鈕(功能) -->
                  <input type="checkbox" id="open-review-card1" class="open-review-card1 d-none" />
                  <div
                    class="card card-body fs-body-3 rounded-5 border bg-white outline-shadow-sm px-5 pt-4 py-7 text position-relative gradient">
                    <!-- 卡片標題 -->
                    <div class="d-flex align-items-center mb-3">
                      <img class="me-3" src="../assets/images/PFP/PFP_Ming.png" alt="user photo" />
                      <div class="d-flex flex-column">
                        <small>@mingtian77</small>
                        <p class="fs-body-3">
                          小明<span class="ms-1"> 小朋友</span>
                        </p>
                      </div>
                      <p class="fs-body-2 ms-auto">
                        <i class="bi bi-star-fill text-secondary-300"></i>100+
                      </p>
                    </div>
                    <!-- 卡片內容 -->
                    我真的很喜歡這個平台上的課程！小王老師的科學課特別有趣，每次上課都有好多新發現。現在我每天都期待上課，因為可以學到好多有趣的知識，還能做很多好玩的實驗！
                    <!-- 展開按鈕(文字) -->
                    <label
                      class="btn btn-light border rounded-3 position-absolute bottom-0 start-50 translate-middle-x mb-4 text-nowrap"
                      for="open-review-card1">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="position-relative">
                  <!-- 展開按鈕(功能) -->
                  <input type="checkbox" id="open-review-card2" class="open-review-card2 d-none" />
                  <div
                    class="card card-body fs-body-3 rounded-5 border bg-white outline-shadow-sm px-5 pt-4 py-7 text position-relative gradient">
                    <!-- 卡片標題 -->
                    <div class="d-flex align-items-center mb-3">
                      <img class="me-3" src="../assets/images/PFP/PFP_Hua.png" alt="user photo" />
                      <div class="d-flex flex-column">
                        <small>@xiaohua</small>
                        <p class="fs-body-3">
                          小華<span class="ms-1">小朋友</span>
                        </p>
                      </div>
                      <p class="fs-body-2 ms-auto">
                        <i class="bi bi-star-fill text-secondary-300"></i>32
                      </p>
                    </div>
                    <!-- 卡片內容 -->
                    老師們講得很清楚，每次我有問題，他們都會耐心解答。而且還有很多互動的環節，讓我在學習中不會覺得無聊。這裡真是太棒了！
                    <!-- 展開按鈕(文字) -->
                    <label
                      class="btn btn-light border rounded-3 position-absolute bottom-0 start-50 translate-middle-x mb-4 text-nowrap"
                      for="open-review-card2">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col d-none d-lg-block">
                <div class="position-relative">
                  <!-- 展開按鈕(功能) -->
                  <input type="checkbox" id="open-review-card3" class="open-review-card3 d-none" />
                  <div
                    class="card card-body fs-body-3 rounded-5 border bg-white outline-shadow-sm px-5 pt-4 py-7 text position-relative gradient">
                    <!-- 卡片標題 -->
                    <div class="d-flex align-items-center mb-3">
                      <img class="me-3" src="../assets/images/PFP/PFP_Mei.png" alt="user photo" />
                      <div class="d-flex flex-column">
                        <small>@xiaomeiwang</small>
                        <p class="fs-body-3">
                          王小美<span class="ms-1">小朋友</span>
                        </p>
                      </div>
                      <p class="fs-body-2 ms-auto">
                        <i class="bi bi-star-fill text-secondary-300"></i>10
                      </p>
                    </div>
                    <!-- 卡片內容 -->
                    課程很有趣，我特別喜歡動植物課，每次上課都像在探險一樣。還有好多有趣的小遊戲和實驗，讓我每次都學到很多新知識！
                    <!-- 展開按鈕(文字) -->
                    <label
                      class="btn btn-light border rounded-3 position-absolute bottom-0 start-50 translate-middle-x mb-4 text-nowrap"
                      for="open-review-card3">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col d-none d-lg-block">
                <div class="position-relative">
                  <!-- 展開按鈕(功能) -->
                  <input type="checkbox" id="open-review-card4" class="open-review-card4 d-none" />
                  <div
                    class="card card-body fs-body-3 rounded-5 border bg-white outline-shadow-sm px-5 pt-4 py-7 text position-relative gradient">
                    <!-- 卡片標題 -->
                    <div class="d-flex align-items-center mb-3">
                      <img class="me-3" src="../assets/images/PFP/PFP_Li.png" alt="user photo" />
                      <div class="d-flex flex-column">
                        <small>@liii145</small>
                        <p class="fs-body-3">
                          小麗<span class="ms-1">小朋友</span>
                        </p>
                      </div>
                      <p class="fs-body-2 ms-auto">
                        <i class="bi bi-star-fill text-secondary-300"></i>10
                      </p>
                    </div>
                    <!-- 卡片內容 -->
                    覺得課程真的很棒！每次上課都有新的挑戰和發現，老師們也很親切友好。我最喜歡的是可以在家裡舒舒服服地上課，還能跟同學們一起交流。這是我最喜歡的學習平台！
                    <!-- 展開按鈕(文字) -->
                    <label
                      class="btn btn-light border rounded-3 position-absolute bottom-0 start-50 translate-middle-x mb-4 text-nowrap"
                      for="open-review-card4">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- 頁碼 -->
          <nav class="course-page">
            <ul class="pagination justify-content-center fs-body-2">
              <li class="page-item">
                <a class="page-link rounded outline-shadow-sm" href="#" aria-label="Previous">
                  <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link border-0 rounded-0 mx-1" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link border-0 rounded-0 mx-1" href="#">2</a>
              </li>
              <li class="page-item active">
                <a class="page-link border-0 rounded-0 mx-1" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link border-0 rounded-0 mx-1" href="#">...</a>
              </li>
              <li class="page-item">
                <a class="page-link border-0 rounded-0 mx-1" href="#">9</a>
              </li>
              <li class="page-item">
                <a class="page-link border-0 rounded-0 mx-1" href="#">10</a>
              </li>
              <li class="page-item">
                <a class="page-link rounded outline-shadow-sm" href="#" aria-label="Next">
                  <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>
    <aside>
      <!-- 類似課程 -->
      <section class="container similar-course py-7">
        <!-- 標題 -->
        <div class="d-flex justify-content-between align-items-center mb-5">
          <h4 class="fw-bold d-flex align-items-center">
            類似的課程
            <span class="fw-normal note position-relative fs-body-3 fs-md-body-1 text-neutral-500">探索更多課程，讓學習更豐富！</span>
          </h4>
          <a href="#" class="more-link text-neutral-950 d-flex align-items-center fs-body-2 p-1">查看更多
            <span class="material-symbols-outlined"> chevron_right </span></a>
        </div>
        <!-- 課程卡片 -->
        <div class="row g-4 flex-column flex-lg-row align-items-center">
          <div class="col-lg-4">
            <div
              class="card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden">
              <div class="col-lg-12 col-5 overflow-hidden">
                <img src="/assets/images/Course_Cover/Course_Cover_自然界的調色盤.png" class="course-img img-fluid h-100"
                  alt="..." />
              </div>
              <div class="card-body col-7 col-lg-12 ">
                <nav style="--bs-breadcrumb-divider: ''" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">美學素養</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">高階</a>
                    </li>
                    <li class="breadcrumb-item px-0">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">色彩學</a>
                    </li>
                  </ol>
                </nav>
                <h5 class="fw-bold">自然界的調色盤</h5>
                <p class="text-neutral-500 mb-3">38 位夥伴學習中</p>
                <!-- progress -->
                <div class="d-flex align-items-center mb-1">
                  <div class="progress w-100 me-3" style="height: 15px">
                    <div class="progress-bar bg-primary-300" role="progressbar" style="width: 0%" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="text-neutral-500">0%</p>
                </div>
              </div>
              <span class="new-tag d-flex justify-content-end align-items-center"><span class="material-icons me-2">
                  auto_awesome </span>新上架</span>
              <button class="like-tag"></button>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden">
              <div class="col-lg-12 col-5 overflow-hidden">
                <img src="/assets/images/4x_All/Course_Cover/Course_Cover_數位色彩世界.png" class="course-img img-fluid h-100"
                  alt="..." />
              </div>
              <div class="card-body col-7 col-lg-12">
                <nav style="--bs-breadcrumb-divider: ''" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">美學素養</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">初階</a>
                    </li>
                    <li class="breadcrumb-item px-0">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">色彩學</a>
                    </li>
                  </ol>
                </nav>
                <h5 class="fw-bold">數位色彩世界</h5>
                <p class="text-neutral-500 mb-3">93 位夥伴學習中</p>
                <!-- progress -->
                <div class="d-flex align-items-center mb-1">
                  <div class="progress w-100 me-3" style="height: 15px">
                    <div class="progress-bar bg-primary-300" role="progressbar" style="width: 0%" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="text-neutral-500">0%</p>
                </div>
              </div>
              <button class="like-tag"></button>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden">
              <div class="col-lg-12 col-5 overflow-hidden">
                <img src="/assets/images/4x_All/Course_Cover/Course_Cover_色彩與文化之旅.png"
                  class="course-img img-fluid h-100" alt="..." />
              </div>
              <div class="card-body col-7 col-lg-12">
                <nav style="--bs-breadcrumb-divider: ''" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">美學素養</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">高階</a>
                    </li>
                    <li class="breadcrumb-item px-0">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">色彩學</a>
                    </li>
                  </ol>
                </nav>
                <h5 class="fw-bold">色彩與文化之旅</h5>
                <p class="text-neutral-500 mb-3">139 位夥伴學習中</p>
                <!-- progress -->
                <div class="d-flex align-items-center mb-1">
                  <div class="progress w-100 me-3" style="height: 15px">
                    <div class="progress-bar bg-primary-300" role="progressbar" style="width: 0%" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="text-neutral-500">0%</p>
                </div>
              </div>
              <span class="hot-tag d-flex justify-content-end align-items-center"><span class="material-icons me-2">
                  local_fire_department </span>熱門排行</span>
              <button class="like-tag"></button>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </section>
      <!-- 推薦課程 -->
      <section class="container recommand-course py-7">
        <!-- 標題 -->
        <div class="d-flex justify-content-between align-items-center mb-5">
          <h4 class="fw-bold d-flex align-items-center">
            推薦課程卡片
            <span
              class="fw-normal note position-relative fs-body-3 fs-md-body-1 text-neutral-500">現在正熱門，看看大家都在學什麼！</span>
          </h4>
          <a href="#" class="more-link text-neutral-950 d-flex align-items-center fs-body-2 p-1">查看更多
            <span class="material-symbols-outlined"> chevron_right </span>
          </a>
        </div>
        <!-- 課程卡片 -->
        <div class="row g-4 flex-column flex-lg-row align-items-center">
          <div class="col-lg-4">
            <div
              class="card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden">
              <div class="col-lg-12 col-5 overflow-hidden">
                <img src="/assets/images/4x_All/Course_Cover/Course_Cover_造型美學大師班.png"
                  class="course-img img-fluid h-100" alt="..." />
              </div>
              <div class="card-body col-7 col-lg-12 px-3 px-lg-4 py-3">
                <nav style="--bs-breadcrumb-divider: ''" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">美學素養</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">高階</a>
                    </li>
                    <li class="breadcrumb-item px-0">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">視覺設計</a>
                    </li>
                  </ol>
                </nav>
                <h5 class="fw-bold text-truncate">造型美學大師班</h5>
                <p class="text-neutral-500 mb-3">82 位夥伴學習中</p>
                <!-- progress -->
                <div class="d-flex align-items-center mb-1">
                  <div class="progress w-100 me-3" style="height: 15px">
                    <div class="progress-bar bg-primary-300" role="progressbar" style="width: 0%" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="text-neutral-500">0%</p>
                </div>
              </div>
              <span class="hot-tag d-flex justify-content-end align-items-center"><span class="material-icons me-2">
                  local_fire_department </span>熱門排行</span>
              <button class="like-tag"></button>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden">
              <div class="col-lg-12 col-5 overflow-hidden">
                <img src="/assets/images/4x_All/Course_Cover/Course_Cover_日常美學：發現生活中的美.png"
                  class="course-img img-fluid h-100" alt="..." />
              </div>
              <div class="card-body col-7 col-lg-12 px-3 px-lg-4 py-3">
                <nav style="--bs-breadcrumb-divider: ''" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">美學素養</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">初階</a>
                    </li>
                    <li class="breadcrumb-item px-0">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">攝影</a>
                    </li>
                  </ol>
                </nav>
                <h5 class="fw-bold text-truncate">日常美學：發現生活中的美</h5>
                <p class="text-neutral-500 mb-3">69 位夥伴學習中</p>
                <!-- progress -->
                <div class="d-flex align-items-center mb-1">
                  <div class="progress w-100 me-3" style="height: 15px">
                    <div class="progress-bar bg-primary-300" role="progressbar" style="width: 0%" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="text-neutral-500">0%</p>
                </div>
                <span class="hot-tag d-flex justify-content-end align-items-center"><span class="material-icons me-2">
                    local_fire_department </span>熱門排行</span>
              </div>
              <button class="like-tag"></button>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden">
              <div class="col-lg-12 col-5 overflow-hidden">
                <img src="/assets/images/4x_All/Course_Cover/Course_Cover_藝術史小旅行.png" class="course-img img-fluid h-100"
                  alt="..." />
              </div>
              <div class="card-body col-7 col-lg-12 px-3 px-lg-4 py-3">
                <nav style="--bs-breadcrumb-divider: ''" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">美學素養</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">初階</a>
                    </li>
                    <li class="breadcrumb-item px-0">
                      <a href="#" class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1">藝術鑑賞</a>
                    </li>
                  </ol>
                </nav>
                <h5 class="fw-bold text-truncate">藝術史小旅行</h5>
                <p class="text-neutral-500 mb-3">75 位夥伴學習中</p>
                <!-- progress -->
                <div class="d-flex align-items-center mb-1">
                  <div class="progress w-100 me-3" style="height: 15px">
                    <div class="progress-bar bg-primary-300" role="progressbar" style="width: 0%" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="text-neutral-500">0%</p>
                </div>
              </div>
              <span class="hot-tag d-flex justify-content-end align-items-center"><span class="material-icons me-2">
                  local_fire_department </span>熱門排行</span>
              <button class="like-tag"></button>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </section>
    </aside>
    <div class="mt-7"><%- include('./layout/footer'); -%></div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
</body>

</html>