<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>來趣學Like it 課程大綱</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="box border border-4 border-warning-500 rounded-3 rounded-top-right-0">
            123
        </div>
        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>