<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="../assets/images/Favicon/Favicon 32x32.png"
      type="image/x-icon"
    />
    <!-- 載入Google icon -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20,400,1,0"
    />

    <title>來趣學</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <!-- AI 小幫手 -->
    <a class="position-fixed AI-helper" href="#">
      <img
        src="/assets/images/AI_Robot/AI_robot_floating_Btn.png"
        alt=""
        class="mb-1"
      />
      <p
        class="px-3 py-2 bg-white border rounded-3 fs-body-2 text-center helper"
      >
        我需要幫忙
      </p>
    </a>

    <!-- 麵包屑 -->
    <div class="container-courseList w-100 d-flex">
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style fs-body-2">
          <li class="breadcrumb-item">
            <a href="index.html">首頁</a>
          </li>
          <li class="breadcrumb-item active text-primary" aria-current="page">
            美學素養
          </li>
        </ol>
      </nav>
    </div>

    <!-- Banner -->
    <div class="banner-courseList py-7 py-lg-5">
      <div class="container-courseList">
        <div class="row">
          <div class="col-lg-7">
            <div class="d-flex justify-content-center">
              <img
                src="/assets/images/Course_category/Course_List_Aesthetics.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-5">
            <div
              class="d-flex justify-content-center align-items-center h-100 text-padding-y"
            >
              <!-- 平板 -->
              <div class="d-flex flex-column d-lg-none">
                <h1 class="fw-bold fs-3 text-primary mb-2">歡迎加入美學素養</h1>
                <p class="fs-body-2 text-width">
                  趕快點選下面你喜歡的課程，找不到想要的課程也可以詢問我們的 AI
                  小精靈哦~
                </p>
              </div>
              <!-- 電腦 -->
              <div class="d-flex flex-column d-none d-lg-block">
                <h1 class="fw-bold fs-3 text-primary mb-4">歡迎來到美學素養</h1>
                <p class="fs-body-1 text-width">
                  趕快點選下面你喜歡的課程，找不到想要的課程也可以詢問我們的 AI
                  小精靈哦~
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 課程清單 -->
    <div class="container-courseList pt-7">
      <div class="course-list">
        <!-- 頂部標籤 -->
        <div class="d-flex tab-bar">
          <a
            href="#"
            class="btn btn-tab btn-tab-focus fs-body-2 overflow-hidden tab-link"
            >全部課程</a
          >
          <a href="#" class="btn btn-tab fs-body-2 overflow-hidden">初階</a>
          <a href="#" class="btn btn-tab fs-body-2 overflow-hidden">中階</a>
          <a href="#" class="btn btn-tab fs-body-2 overflow-hidden">高階</a>
        </div>

        <!-- 文字連結 -->
        <!-- 平板 -->
        <div class="d-flex justify-content-end">
          <div class="py-4 me-9 d-lg-none">
            <a href="#" class="me-3 max-link max-latest-link-focus">最多人學</a>
            <span class="text-neutral-200 me-3">|</span>
            <a href="#" class="latest-link">最近更新</a>
          </div>
          <!-- 電腦 -->
          <div class="py-4 me-9 d-none d-lg-block">
            <a href="#" class="me-3 max-link max-latest-link-focus">學習人數</a>
            <span class="text-neutral-200 me-3">|</span>
            <a href="#" class="latest-link">最新上架</a>
          </div>
        </div>

        <!-- 課程卡片 -->
        <div class="course-cards">
          <!-- By Anna ↓ -->
          <div class="row row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
            <div class="col">
              <div
                class="card course-card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <div class="course-card-img overflow-hidden">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_色彩魔法師2.png"
                    class="img-fluid w-100 h-100"
                    alt="..."
                  />
                </div>

                <div class="card-body course-card-body">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >美學素養</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >初階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >色彩學</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">色彩魔法師</h5>
                  <p class="text-neutral-500 mb-3">
                    <span class="me-1">62</span> 位夥伴學習中
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 70%"
                        aria-valuenow="70"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">70%</p>
                  </div>
                </div>
                <span
                  class="hot-tag d-flex justify-content-end align-items-center"
                  ><span class="material-icons me-2">
                    local_fire_department </span
                  >熱門排行</span
                >
                <button class="like-tag"></button>
                <a href="courseInfo.html" class="stretched-link"></a>
              </div>
            </div>
            <div class="col">
              <div
                class="card course-card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <div class="course-card-img overflow-hidden">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_數位色彩世界.png"
                    class="img-fluid w-100 h-100"
                    alt="..."
                  />
                </div>

                <div class="card-body course-card-body">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >美學素養</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >高階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >色彩學</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">數位色彩世界</h5>
                  <p class="text-neutral-500 mb-3">
                    <span class="me-1">93</span> 位夥伴學習中
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 40%"
                        aria-valuenow="40"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">40%</p>
                  </div>
                </div>
                <button class="like-tag"></button>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <div class="col">
              <div
                class="card course-card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <div class="course-card-img overflow-hidden">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_色彩與文化之旅.png"
                    class="img-fluid w-100 h-100"
                    alt="..."
                  />
                </div>

                <div class="card-body course-card-body">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >美學素養</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >高階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >色彩學</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">色彩與文化之旅</h5>
                  <p class="text-neutral-500 mb-3">
                    <span class="me-1">139</span> 位夥伴學習中
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 0%"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">0%</p>
                  </div>
                </div>
                <span
                  class="hot-tag d-flex justify-content-end align-items-center"
                  ><span class="material-icons me-2">
                    local_fire_department </span
                  >熱門排行</span
                >
                <button class="like-tag"></button>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <div class="col">
              <div
                class="card course-card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <div class="course-card-img overflow-hidden">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_藝術史小旅行.png"
                    class="img-fluid w-100 h-100"
                    alt="..."
                  />
                </div>

                <div class="card-body course-card-body">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >美學素養</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >初階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >藝術鑑賞</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">藝術史小旅行</h5>
                  <p class="text-neutral-500 mb-3">
                    <span class="me-1">75</span> 位夥伴學習中
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 0%"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">0%</p>
                  </div>
                </div>
                <span
                  class="hot-tag d-flex justify-content-end align-items-center"
                  ><span class="material-icons me-2">
                    local_fire_department </span
                  >熱門排行</span
                >
                <button class="like-tag"></button>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <div class="col">
              <div
                class="card course-card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <div class="course-card-img overflow-hidden">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_日常美學：發現生活中的美.png"
                    class="img-fluid w-100 h-100"
                    alt="..."
                  />
                </div>

                <div class="card-body course-card-body">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >美學素養</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >初階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >攝影</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">日常美學：發現生活中的美</h5>
                  <p class="text-neutral-500 mb-3">
                    <span class="me-1">69</span> 位夥伴學習中
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 0%"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">0%</p>
                  </div>
                </div>
                <span
                  class="hot-tag d-flex justify-content-end align-items-center"
                  ><span class="material-icons me-2">
                    local_fire_department </span
                  >熱門排行</span
                >
                <button class="like-tag"></button>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <div class="col">
              <div
                class="card course-card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <div class="course-card-img overflow-hidden">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_造型美學大師班.png"
                    class="img-fluid w-100 h-100"
                    alt="..."
                  />
                </div>

                <div class="card-body course-card-body">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >美學素養</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >高階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >視覺設計</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">造型美學大師班</h5>
                  <p class="text-neutral-500 mb-3">
                    <span class="me-1">82</span> 位夥伴學習中
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 0%"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">0%</p>
                  </div>
                </div>
                <span
                  class="hot-tag d-flex justify-content-end align-items-center"
                  ><span class="material-icons me-2">
                    local_fire_department </span
                  >熱門排行</span
                >
                <button class="like-tag"></button>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <div class="col">
              <div
                class="card course-card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <div class="course-card-img overflow-hidden">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_小小建築師的夢想城市.png"
                    class="img-fluid w-100 h-100"
                    alt="..."
                  />
                </div>

                <div class="card-body course-card-body">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >美學素養</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >初階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >建築設計</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">小小建築師的夢想城市</h5>
                  <p class="text-neutral-500 mb-3">
                    <span class="me-1">59</span> 位夥伴學習中
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 0%"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">0%</p>
                  </div>
                </div>
                <button class="like-tag"></button>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <div class="col">
              <div
                class="card course-card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <div class="course-card-img overflow-hidden">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_小小時尚設計師.png"
                    class="img-fluid w-100 h-100"
                    alt="..."
                  />
                </div>

                <div class="card-body course-card-body">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >美學素養</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >初階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >時尚設計</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">小小時尚設計師</h5>
                  <p class="text-neutral-500 mb-3">
                    <span class="me-1">384</span> 位夥伴學習中
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 1%"
                        aria-valuenow="1"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">1%</p>
                  </div>
                </div>
                <button class="like-tag"></button>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <div class="col">
              <div
                class="card course-card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <div class="course-card-img overflow-hidden">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_童話插畫大冒險.png"
                    class="img-fluid w-100 h-100"
                    alt="..."
                  />
                </div>

                <div class="card-body course-card-body">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >美學素養</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >初階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >插畫藝術</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">童話插畫大冒險</h5>
                  <p class="text-neutral-500 mb-3">
                    <span class="me-1">94</span> 位夥伴學習中
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 70%"
                        aria-valuenow="70"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">70%</p>
                  </div>
                </div>
                <span
                  class="new-tag d-flex justify-content-end align-items-center"
                  ><span class="material-icons me-2"> auto_awesome </span
                  >新上架</span
                >
                <button class="like-tag"></button>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <div class="col">
              <div
                class="card course-card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <div class="course-card-img overflow-hidden">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_大自然的藝術盒子.png"
                    class="img-fluid w-100 h-100"
                    alt="..."
                  />
                </div>

                <div class="card-body course-card-body">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >美學素養</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >高階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >環境藝術</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">大自然的藝術盒子</h5>
                  <p class="text-neutral-500 mb-3">
                    <span class="me-1">49</span> 位夥伴學習中
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 0%"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">0%</p>
                  </div>
                </div>
                <span
                  class="hot-tag d-flex justify-content-end align-items-center"
                  ><span class="material-icons me-2">
                    local_fire_department </span
                  >熱門排行</span
                >
                <button class="like-tag"></button>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <div class="col">
              <div
                class="card course-card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <div class="course-card-img overflow-hidden">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_光影魔法師.png"
                    class="img-fluid w-100 h-100"
                    alt="..."
                  />
                </div>

                <div class="card-body course-card-body">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >美學素養</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >中階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >光影藝術</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">光影魔法師</h5>
                  <p class="text-neutral-500 mb-3">
                    <span class="me-1">174</span> 位夥伴學習中
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 0%"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">0%</p>
                  </div>
                </div>
                <button class="like-tag"></button>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <div class="col">
              <div
                class="card course-card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <div class="course-card-img overflow-hidden">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_自然界的調色盤.png"
                    class="img-fluid w-100 h-100"
                    alt="..."
                  />
                </div>

                <div class="card-body course-card-body">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >美學素養</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >高階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >色彩學</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">自然界的調色盤</h5>
                  <p class="text-neutral-500 mb-3">
                    <span class="me-1">38</span> 位夥伴學習中
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 70%"
                        aria-valuenow="70"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">70%</p>
                  </div>
                </div>
                <span
                  class="new-tag d-flex justify-content-end align-items-center"
                  ><span class="material-icons me-2"> auto_awesome </span
                  >新上架</span
                >
                <button class="like-tag"></button>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
          </div>

          <!-- 頁碼 -->
          <nav class="course-page mt-5">
            <ul class="pagination justify-content-center fs-body-2">
              <li class="page-item">
                <a
                  class="page-link rounded outline-shadow-sm"
                  href="#"
                  aria-label="Previous"
                >
                  <span aria-hidden="true"
                    ><i class="bi bi-chevron-left"></i
                  ></span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link border-0 rounded-0 mx-1" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link border-0 rounded-0 mx-1" href="#">2</a>
              </li>
              <li class="page-item active">
                <a class="page-link border-0 rounded-0 mx-1" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link border-0 rounded-0 mx-1" href="#">...</a>
              </li>
              <li class="page-item">
                <a class="page-link border-0 rounded-0 mx-1" href="#">9</a>
              </li>
              <li class="page-item">
                <a class="page-link border-0 rounded-0 mx-1" href="#">10</a>
              </li>
              <li class="page-item">
                <a
                  class="page-link rounded outline-shadow-sm"
                  href="#"
                  aria-label="Next"
                >
                  <span aria-hidden="true"
                    ><i class="bi bi-chevron-right"></i
                  ></span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- By Anna ↑ -->
        </div>

        <!-- 分類按鈕 -->
        <div class="category-btns px-lg-1">
          <div class="row justify-content-lg-center">
            <a href="#" class="btn-category fs-body-2 me-2 me-lg-4 mb-4"
              >自然探索</a
            >
            <a href="#" class="btn-category fs-body-2 me-2 me-lg-4 mb-4"
              >理財管理</a
            >
            <a href="#" class="btn-category fs-body-2 me-2 me-lg-4 mb-4"
              >認識文化</a
            >
            <a href="#" class="btn-category fs-body-2 me-2 me-lg-4 mb-4"
              >音樂素養</a
            >
            <a href="#" class="btn-category fs-body-2 me-2 me-lg-4 mb-4"
              >科技應用</a
            >
            <a href="#" class="btn-category fs-body-2 me-2 me-lg-4 mb-4"
              >美學素養</a
            >
            <a href="#" class="btn-category fs-body-2 me-2 me-lg-4 mb-4"
              >心靈成長</a
            >
            <a href="#" class="btn-category fs-body-2 me-2 me-lg-4 mb-4"
              >人際關係</a
            >
            <a href="#" class="btn-category fs-body-2 me-2 me-lg-4 mb-4"
              >邏輯推理</a
            >
            <a href="#" class="btn-category fs-body-2 me-2 me-lg-4 mb-4"
              >創意訓練</a
            >
            <a href="#" class="btn-category fs-body-2 me-2 me-lg-4 mb-4"
              >媒體識別</a
            >
            <a href="#" class="btn-category fs-body-2 me-2 me-lg-4 mb-4"
              >健康營養</a
            >
            <a href="#" class="btn-category fs-body-2 me-2 me-lg-4 mb-4"
              >所有課程</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- 你想了解什麼 ? -->
    <div class="container-courseList decoration py-7 py-lg-9">
      <div class="text-center">
        <h2 class="fs-5 fs-lg-4 fw-bold mb-5">
          你想了解什麼？點選對話框，讓小幫手來幫助你吧！
        </h2>
      </div>
      <div class="d-flex justify-content-center">
        <div
          class="AI-box bg-primary-100 border outline-shadow-lg rounded-5 w-100"
        >
          <div
            class="d-flex justify-content-center align-items-center h-100 position-relative"
          >
            <img
              src="/assets/images/AI_Robot/AI_Robot_Lg.png"
              alt=""
              class="AI-img"
            />
            <a class="dialog-box dialog-left dialog-top-left fs-4" href="#"
              >想聊天</a
            >
            <a class="dialog-box dialog-right dialog-top-right fs-4" href="#"
              >問課程</a
            >
            <a class="dialog-box dialog-left dialog-bottom-left fs-4" href="#"
              >問興趣</a
            >
            <a class="dialog-box dialog-right dialog-bottom-right fs-4" href="#"
              >其他</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="mt-7"><%- include('./layout/footer'); -%></div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
