<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 載入 Swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <title>來趣學</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <!-- Banner -->
    <div class="banner">
      <div class="mt-7">
        <div class="row">
          <div class="col-lg-5 col-xl-4">
            <h1
              class="slogan text-primary d-flex justify-content-center justify-content-lg-start fs-3 fs-lg-2 mb-7 mt-lg-10"
            >
              孩子學習的最佳良伴 !
            </h1>
          </div>
          <div class="col-lg-7 col-xl-8">
            <div class="position-relative">
              <div class="swiper swiperBanner swiperBanner-shadow">
                <div class="swiper-wrapper">
                  <div class="swiper-slide swiperBanner-overlay">
                    <img
                      src="/assets/images/Home_Header_Banner.png"
                      alt=""
                      class="banner-img img-fluid"
                    />
                  </div>
                  <div class="swiper-slide swiperBanner-overlay">
                    <img
                      src="/assets/images/Home_Header_Banner.png"
                      alt=""
                      class="banner-img img-fluid"
                    />
                  </div>
                  <div class="swiper-slide swiperBanner-overlay">
                    <img
                      src="/assets/images/Home_Header_Banner.png"
                      alt=""
                      class="banner-img img-fluid"
                    />
                  </div>
                </div>
              </div>
              <div
                class="swiper-next position-absolute translate-middle top-50 z-1 ms-7 ms-lg-0"
              >
                <span class="ic--round-keyboard-arrow-left"></span
                ><span class="swiper-arrow translate-middle"></span>
              </div>
              <div
                class="swiper-pagination pagination-color translate-middle"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 你想了解什麼 ? -->

    <div class="container-index py-7 py-lg-9">
      <div class="text-center">
        <h2 class="fs-5 fs-lg-4 mb-5">
          你想了解什麼？點選對話框，讓小幫手來幫助你吧！
        </h2>
      </div>
      <div class="d-flex justify-content-center">
        <div
          class="AI-box bg-primary-100 border outline-shadow-lg rounded-5 w-100"
        >
          <div
            class="d-flex justify-content-center align-items-center h-100 position-relative"
          >
            <img
              src="/assets/images/AI_Robot/AI_Robot_Lg.png"
              alt=""
              class="AI-img"
            />
            <a class="btn btn-light dialog-box dialog-left dialog-top-left fs-4"
              >想聊天</a
            >
            <a
              class="btn btn-light dialog-box dialog-right dialog-top-right fs-4"
              >問課程</a
            >
            <a
              class="btn btn-light dialog-box dialog-left dialog-bottom-left fs-4"
              >問興趣</a
            >
            <a
              class="btn btn-light dialog-box dialog-right dialog-bottom-right fs-4"
              >其他</a
            >
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <!-- 載入 Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      const swiperBanner = new Swiper(".swiperBanner", {
        slidesPerView: 1.33,
        spaceBetween: 16,

        breakpoints: {
          1440: {
            slidesPerView: 1.2,
          },
          1540: {
            slidesPerView: 1.3,
          },
          1640: {
            slidesPerView: 1.4,
          },
          1740: {
            slidesPerView: 1.5,
          },
          1840: {
            slidesPerView: 1.6,
          },
          1940: {
            slidesPerView: 1.7,
          },
        },

        pagination: {
          el: ".swiper-pagination",
        },

        navigation: {
          nextEl: ".swiper-next",
        },
      });
    </script>
  </body>
</html>
