<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 載入 Swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- 載入Google icon -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20,400,1,0"
    />
    <link
      rel="icon"
      href="../assets/images/Favicon/Favicon 32x32.png"
      type="image/x-icon"
    />
    <title>來趣學</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <!-- AI 小幫手 -->
    <a class="position-fixed AI-helper" href="#">
      <img
        src="/assets/images/AI_Robot/AI_robot_floating_Btn.png"
        alt=""
        class="mb-1"
      />
      <p
        class="px-3 py-2 bg-white border rounded-3 fs-body-2 text-center helper"
      >
        我需要幫忙
      </p>
    </a>

    <!-- Banner -->
    <div class="banner-index w-100 d-flex flex-column">
      <div class="mt-7">
        <div class="row">
          <div class="col-lg-5 col-xl-4">
            <h1
              class="slogan text-primary d-flex justify-content-center justify-content-lg-start fs-3 fs-lg-2 mb-7 mt-lg-10"
            >
              孩子學習的<br class="d-none d-lg-block" />最佳良伴 !
            </h1>
          </div>
          <div class="col-lg-7 col-xl-8">
            <div class="position-relative">
              <div class="swiper swiperBanner swiperBanner-shadow">
                <div class="swiper-wrapper">
                  <div class="swiper-slide swiperBanner-overlay">
                    <img
                      src="/assets/images/Home_Header_Banner.png"
                      alt=""
                      class="banner-img img-fluid"
                    />
                  </div>
                  <div class="swiper-slide swiperBanner-overlay">
                    <img
                      src="/assets/images/Home_Header_Banner.png"
                      alt=""
                      class="banner-img img-fluid"
                    />
                  </div>
                  <div class="swiper-slide swiperBanner-overlay">
                    <img
                      src="/assets/images/Home_Header_Banner.png"
                      alt=""
                      class="banner-img img-fluid"
                    />
                  </div>
                </div>
              </div>
              <div
                class="swiper-next position-absolute translate-middle top-50 z-1 ms-7 ms-lg-0"
              >
                <span class="ic--round-keyboard-arrow-left"></span
                ><span class="swiper-arrow translate-middle"></span>
              </div>
              <div
                class="swiper-pagination pagination-color translate-middle"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 你想了解什麼 ? -->

    <div class="container-index py-7 py-lg-9">
      <div class="text-center">
        <h2 class="fs-5 fs-lg-4 mb-5">
          你想了解什麼？點選對話框，讓小幫手來幫助你吧！
        </h2>
      </div>
      <div class="d-flex justify-content-center">
        <div
          class="AI-box bg-primary-100 border outline-shadow-lg rounded-5 w-100"
        >
          <div
            class="d-flex justify-content-center align-items-center h-100 position-relative"
          >
            <img
              src="/assets/images/AI_Robot/AI_Robot_Lg.png"
              alt=""
              class="AI-img"
            />
            <a
              class="btn btn-light dialog-box dialog-left dialog-top-left fs-4"
              href="#"
              >想聊天</a
            >
            <a
              class="btn btn-light dialog-box dialog-right dialog-top-right fs-4"
              href="#"
              >問課程</a
            >
            <a
              class="btn btn-light dialog-box dialog-left dialog-bottom-left fs-4"
              href="#"
              >問興趣</a
            >
            <a
              class="btn btn-light dialog-box dialog-right dialog-bottom-right fs-4"
              href="#"
              >其他</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- 繼續上課 -->
    <div class="bg-primary-100">
      <div class="container-index d-flex justify-content-center">
        <div class="continue-courses py-7">
          <div class="d-flex justify-content-between mb-5">
            <div class="d-flex align-items-center">
              <h2 class="fs-4 me-3">繼續上課</h2>
              <p class="fs-4 text-neutral-200 me-3">|</p>
              <p class="text-neutral-500 fs-body-1">延續進度，讓學習不中斷！</p>
            </div>
            <a href="#" class="d-flex align-items-center view-more"
              >查看更多
              <span class="material-symbols-outlined"> chevron_right </span></a
            >
          </div>
          <!-- By Anna ↓ -->
          <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
            <div class="col">
              <div
                class="card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <!-- 平板圖片 -->
                <div class="img-w">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_色彩魔法師2.png"
                    class="img-fluid rounded-5 rounded-end-0 d-lg-none h-100"
                    alt="..."
                  />
                </div>
                <!-- 電腦圖片 -->
                <div class="img-h">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_色彩魔法師2.png"
                    class="img-fluid rounded-5 rounded-bottom-0 d-none d-lg-block w-100"
                    alt="..."
                  />
                </div>
                <div class="card-body col-7 col-lg-12">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >美學素養</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >初階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >色彩學</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">色彩魔法師</h5>
                  <p class="text-neutral-500 mb-3">
                    單元三：色彩心情屋-感受顏色的力量
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">尚未開始</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 70%"
                        aria-valuenow="70"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">70%</p>
                  </div>
                </div>
                <span
                  class="hot-tag d-flex justify-content-end align-items-center"
                  ><span class="material-icons me-2">
                    local_fire_department </span
                  >熱門排行</span
                >
                <button class="btn like-tag"></button>
                <a href="courseVideo.html" class="stretched-link"></a>
              </div>
            </div>
            <div class="col">
              <div
                class="card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <!-- 平板圖片 -->
                <div class="img-w">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_情緒管理小高手.png"
                    class="img-fluid rounded-5 rounded-end-0 d-lg-none h-100"
                    alt="..."
                  />
                </div>
                <!-- 電腦圖片 -->
                <div class="img-h">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_情緒管理小高手.png"
                    class="img-fluid rounded-5 rounded-bottom-0 d-none d-lg-block w-100"
                    alt="..."
                  />
                </div>
                <div class="card-body col-7 col-lg-12">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >心靈成長</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >初階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >情緒智商</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">情緒管理小高手</h5>
                  <p class="text-neutral-500 mb-3">單元二：認識情緒小怪獸</p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 1%"
                        aria-valuenow="1"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">1%</p>
                  </div>
                </div>
                <button class="btn like-tag"></button>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <div class="col">
              <div
                class="card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
              >
                <!-- 平板圖片 -->
                <div class="img-w">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_AI探索之旅.png"
                    class="img-fluid rounded-5 rounded-end-0 d-lg-none h-100"
                    alt="..."
                  />
                </div>
                <!-- 電腦圖片 -->
                <div class="img-h">
                  <img
                    src="/assets/images/Course_Cover/Course_Cover_AI探索之旅.png"
                    class="img-fluid rounded-5 rounded-bottom-0 d-none d-lg-block w-100"
                    alt="..."
                  />
                </div>
                <div class="card-body col-7 col-lg-12">
                  <nav
                    style="--bs-breadcrumb-divider: ''"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >科技應用</a
                        >
                      </li>
                      <li class="breadcrumb-item">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >高階</a
                        >
                      </li>
                      <li class="breadcrumb-item px-0">
                        <a
                          href="#"
                          class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                          >人工智能</a
                        >
                      </li>
                    </ol>
                  </nav>
                  <h5 class="fw-bold">AI探索之旅</h5>
                  <p class="text-neutral-500 mb-3">
                    單元二：AI 助手：我的智能好朋友
                  </p>
                  <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                  <!-- progress -->
                  <div class="d-flex align-items-center mb-0 mb-lg-3">
                    <div class="progress w-100 me-3" style="height: 15px">
                      <div
                        class="progress-bar bg-primary-300"
                        role="progressbar"
                        style="width: 40%"
                        aria-valuenow="40"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p class="text-neutral-500">40%</p>
                  </div>
                </div>
                <span
                  class="new-tag d-flex justify-content-end align-items-center"
                  ><span class="material-icons me-2"> auto_awesome </span
                  >新上架</span
                >
                <button class="btn like-tag"></button>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 推薦課程卡片 -->

    <div class="container-index d-flex justify-content-center">
      <div class="recommand-courses py-7">
        <div class="d-flex justify-content-between mb-5">
          <div class="d-flex align-items-center">
            <h2 class="fs-4 me-3">推薦課程卡片</h2>
            <p class="fs-4 text-neutral-200 me-3">|</p>
            <p class="text-neutral-500 fs-body-1">
              現在正熱門，看看大家都在學什麼！
            </p>
          </div>
          <a href="#" class="d-flex align-items-center view-more"
            >查看更多
            <span class="material-symbols-outlined"> chevron_right </span></a
          >
        </div>
        <!-- By Anna ↓ -->
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
          <div class="col">
            <div
              class="card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
            >
              <!-- 平板圖片 -->
              <div class="img-w">
                <img
                  src="/assets/images/Course_Cover/Course_Cover_小小廚神的健康餐盤.png"
                  class="img-fluid rounded-5 rounded-end-0 d-lg-none h-100"
                  alt="..."
                />
              </div>
              <!-- 電腦圖片 -->
              <div class="img-h">
                <img
                  src="/assets/images/Course_Cover/Course_Cover_小小廚神的健康餐盤.png"
                  class="img-fluid rounded-5 rounded-bottom-0 d-none d-lg-block w-100"
                  alt="..."
                />
              </div>
              <div class="card-body col-7 col-lg-12">
                <nav
                  style="--bs-breadcrumb-divider: ''"
                  aria-label="breadcrumb"
                >
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a
                        href="#"
                        class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                        >健康營養</a
                      >
                    </li>
                    <li class="breadcrumb-item">
                      <a
                        href="#"
                        class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                        >初階</a
                      >
                    </li>
                    <li class="breadcrumb-item px-0">
                      <a
                        href="#"
                        class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                        >健康飲食</a
                      >
                    </li>
                  </ol>
                </nav>
                <h5 class="fw-bold">小小廚神的健康餐盤</h5>
                <p class="text-neutral-500 mb-3">
                  <span class="me-1">384</span> 位夥伴學習中
                </p>
                <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                <!-- progress -->
                <div class="d-flex align-items-center mb-0 mb-lg-3">
                  <div class="progress w-100 me-3" style="height: 15px">
                    <div
                      class="progress-bar bg-primary-300"
                      role="progressbar"
                      style="width: 0%"
                      aria-valuenow="0"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="text-neutral-500">0%</p>
                </div>
              </div>
              <span
                class="hot-tag d-flex justify-content-end align-items-center"
                ><span class="material-icons me-2"> local_fire_department </span
                >熱門排行</span
              >
              <button class="btn like-tag"></button>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
          <div class="col">
            <div
              class="card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
            >
              <!-- 平板圖片 -->
              <div class="img-w">
                <img
                  src="/assets/images/Course_Cover/Course_Cover_自信心培養班.png"
                  class="img-fluid rounded-5 rounded-end-0 d-lg-none h-100"
                  alt="..."
                />
              </div>
              <!-- 電腦圖片 -->
              <div class="img-h">
                <img
                  src="/assets/images/Course_Cover/Course_Cover_自信心培養班.png"
                  class="img-fluid rounded-5 rounded-bottom-0 d-none d-lg-block w-100"
                  alt="..."
                />
              </div>
              <div class="card-body col-7 col-lg-12">
                <nav
                  style="--bs-breadcrumb-divider: ''"
                  aria-label="breadcrumb"
                >
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a
                        href="#"
                        class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                        >心靈成長</a
                      >
                    </li>
                    <li class="breadcrumb-item">
                      <a
                        href="#"
                        class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                        >中階</a
                      >
                    </li>
                    <li class="breadcrumb-item px-0">
                      <a
                        href="#"
                        class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                        >自信建立</a
                      >
                    </li>
                  </ol>
                </nav>
                <h5 class="fw-bold">自信心培養班</h5>
                <p class="text-neutral-500 mb-3">
                  <span class="me-1">174</span> 位夥伴學習中
                </p>
                <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                <!-- progress -->
                <div class="d-flex align-items-center mb-0 mb-lg-3">
                  <div class="progress w-100 me-3" style="height: 15px">
                    <div
                      class="progress-bar bg-primary-300"
                      role="progressbar"
                      style="width: 0%"
                      aria-valuenow="0"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="text-neutral-500">0%</p>
                </div>
              </div>
              <span
                class="new-tag d-flex justify-content-end align-items-center"
                ><span class="material-icons me-2"> auto_awesome </span
                >新上架</span
              >
              <button class="btn like-tag"></button>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
          <div class="col">
            <div
              class="card w-100 flex-row flex-lg-column rounded-5 position-relative border outline-shadow-lg overflow-hidden"
            >
              <!-- 平板圖片 -->
              <div class="img-w">
                <img
                  src="/assets/images/Course_Cover/Course_Cover_程式設計小達人.png"
                  class="img-fluid rounded-5 rounded-end-0 d-lg-none h-100"
                  alt="..."
                />
              </div>
              <!-- 電腦圖片 -->
              <div class="img-h">
                <img
                  src="/assets/images/Course_Cover/Course_Cover_程式設計小達人.png"
                  class="img-fluid rounded-5 rounded-bottom-0 d-none d-lg-block w-100"
                  alt="..."
                />
              </div>
              <div class="card-body col-7 col-lg-12">
                <nav
                  style="--bs-breadcrumb-divider: ''"
                  aria-label="breadcrumb"
                >
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a
                        href="#"
                        class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                        >科技應用</a
                      >
                    </li>
                    <li class="breadcrumb-item">
                      <a
                        href="#"
                        class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                        >高階</a
                      >
                    </li>
                    <li class="breadcrumb-item px-0">
                      <a
                        href="#"
                        class="rounded-3 bg-primary-100 text-primary-700 px-2 py-1"
                        >程式設計</a
                      >
                    </li>
                  </ol>
                </nav>
                <h5 class="fw-bold">程式語言小達人</h5>
                <p class="text-neutral-500 mb-3">
                  <span class="me-1">283</span> 位夥伴學習中
                </p>
                <p class="fs-body-3 text-neutral-500 mb-2">學習進度</p>
                <!-- progress -->
                <div class="d-flex align-items-center mb-0 mb-lg-3">
                  <div class="progress w-100 me-3" style="height: 15px">
                    <div
                      class="progress-bar bg-primary-300"
                      role="progressbar"
                      style="width: 0%"
                      aria-valuenow="0"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="text-neutral-500">0%</p>
                </div>
              </div>
              <span
                class="hot-tag d-flex justify-content-end align-items-center"
                ><span class="material-icons me-2"> local_fire_department </span
                >熱門排行</span
              >
              <button class="btn like-tag"></button>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 12 大領域 -->
    <div class="container-index py-7">
      <div class="d-flex justify-content-center">
        <div class="category border rounded-5 outline-shadow-lg w-100">
          <div
            class="category-header bg-primary-400 text-white text-center py-4"
          >
            <h3 class="fs-4 mb-1">12 大領域，開啟你的精采之旅</h3>
            <p class="fs-body-1">前往探索你的興趣</p>
          </div>
          <div class="d-flex justify-content-end py-4 me-9">
            <a href="#" class="me-3 link">最多人學</a>
            <span class="text-neutral-200 me-3">|</span>
            <a href="#" class="link">最近更新</a>
          </div>
          <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5 mb-7 px-5">
            <div class="col">
              <a
                class="category-card d-flex justify-content-center flex-lg-column align-items-center"
                href="courseList.html"
              >
                <div class="circle">
                  <img
                    src="/assets/images/Course_category/Course_category_Aesthetics.png"
                    alt=""
                    class=""
                  />
                </div>
                <div class="d-flex flex-column align-items-center">
                  <h4 class="fs-4 mb-1 text-neutral-950">美學素養</h4>
                  <p class="fs-body-1 text-neutral-500 mb-3">Aesthetics</p>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                class="category-card d-flex justify-content-center flex-lg-column align-items-center"
                href="#"
              >
                <div class="circle">
                  <img
                    src="/assets/images/Course_category/Course_category_Nature.png"
                    alt=""
                    class=""
                  />
                </div>
                <div class="d-flex flex-column align-items-center">
                  <h4 class="fs-4 mb-1 text-neutral-950">自然探索</h4>
                  <p class="fs-body-1 text-neutral-500 mb-3">Nature</p>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                class="category-card d-flex justify-content-center flex-lg-column align-items-center"
                href="#"
              >
                <div class="circle">
                  <img
                    src="/assets/images/Course_category/Course_category_Relationship.png"
                    alt=""
                    class=""
                  />
                </div>
                <div class="d-flex flex-column align-items-center">
                  <h4 class="fs-4 mb-1 text-neutral-950">人際關係</h4>
                  <p class="fs-body-1 text-neutral-500 mb-3">Relationship</p>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                class="category-card d-flex justify-content-center flex-lg-column align-items-center"
                href="#"
              >
                <div class="circle">
                  <img
                    src="/assets/images/Course_category/Course_category_Health.png"
                    alt=""
                    class=""
                  />
                </div>
                <div class="d-flex flex-column align-items-center">
                  <h4 class="fs-4 mb-1 text-neutral-950">健康營養</h4>
                  <p class="fs-body-1 text-neutral-500 mb-3">Health</p>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                class="category-card d-flex justify-content-center flex-lg-column align-items-center"
                href="#"
              >
                <div class="circle">
                  <img
                    src="/assets/images/Course_category/Course_category_Ideas.png"
                    alt=""
                    class=""
                  />
                </div>
                <div class="d-flex flex-column align-items-center">
                  <h4 class="fs-4 mb-1 text-neutral-950">創意訓練</h4>
                  <p class="fs-body-1 text-neutral-500 mb-3">Idea</p>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                class="category-card d-flex justify-content-center flex-lg-column align-items-center"
                href="#"
              >
                <div class="circle">
                  <img
                    src="/assets/images/Course_category/Course_category_Press.png"
                    alt=""
                    class=""
                  />
                </div>
                <div class="d-flex flex-column align-items-center">
                  <h4 class="fs-4 mb-1 text-neutral-950">媒體識別</h4>
                  <p class="fs-body-1 text-neutral-500 mb-3">Press</p>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                class="category-card d-flex justify-content-center flex-lg-column align-items-center"
                href="#"
              >
                <div class="circle">
                  <img
                    src="/assets/images/Course_category/Course_category_Spirit.png"
                    alt=""
                    class=""
                  />
                </div>
                <div class="d-flex flex-column align-items-center">
                  <h4 class="fs-4 mb-1 text-neutral-950">心靈成長</h4>
                  <p class="fs-body-1 text-neutral-500 mb-3">Spirit</p>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                class="category-card d-flex justify-content-center flex-lg-column align-items-center"
                href="#"
              >
                <div class="circle">
                  <img
                    src="/assets/images/Course_category/Course_category_Finance.png"
                    alt=""
                    class=""
                  />
                </div>
                <div class="d-flex flex-column align-items-center">
                  <h4 class="fs-4 mb-1 text-neutral-950">理財管理</h4>
                  <p class="fs-body-1 text-neutral-500 mb-3">Finance</p>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                class="category-card d-flex justify-content-center flex-lg-column align-items-center"
                href="#"
              >
                <div class="circle">
                  <img
                    src="/assets/images/Course_category/Course_category_Logic.png"
                    alt=""
                    class=""
                  />
                </div>
                <div class="d-flex flex-column align-items-center">
                  <h4 class="fs-4 mb-1 text-neutral-950">邏輯推理</h4>
                  <p class="fs-body-1 text-neutral-500 mb-3">Logic</p>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                class="category-card d-flex justify-content-center flex-lg-column align-items-center"
                href="#"
              >
                <div class="circle">
                  <img
                    src="/assets/images/Course_category/Course_category_Culture.png"
                    alt=""
                    class=""
                  />
                </div>
                <div class="d-flex flex-column align-items-center">
                  <h4 class="fs-4 mb-1 text-neutral-950">認識文化</h4>
                  <p class="fs-body-1 text-neutral-500 mb-3">Culture</p>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                class="category-card d-flex justify-content-center flex-lg-column align-items-center"
                href="#"
              >
                <div class="circle">
                  <img
                    src="/assets/images/Course_category/Course_category_Technology.png"
                    alt=""
                    class=""
                  />
                </div>
                <div class="d-flex flex-column align-items-center">
                  <h4 class="fs-4 mb-1 text-neutral-950">科技應用</h4>
                  <p class="fs-body-1 text-neutral-500 mb-3">Technology</p>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                class="category-card d-flex justify-content-center flex-lg-column align-items-center"
                href="#"
              >
                <div class="circle">
                  <img
                    src="/assets/images/Course_category/Course_category_Music.png"
                    alt=""
                    class=""
                  />
                </div>
                <div class="d-flex flex-column align-items-center">
                  <h4 class="fs-4 mb-1 text-neutral-950">音樂素養</h4>
                  <p class="fs-body-1 text-neutral-500 mb-3">Music</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 家長的話 -->
    <div class="parents-words py-7 mt-lg-7">
      <div class="container-index">
        <div class="d-flex justify-content-between mb-5">
          <div class="d-flex align-items-center">
            <h2 class="fs-4 me-3">家長的話</h2>
            <p class="fs-4 text-neutral-200 me-3">|</p>
            <p class="text-neutral-500 fs-body-1">專屬指導，讓學習更精準！</p>
          </div>
          <a href="#" class="d-flex align-items-center view-more"
            >查看更多
            <span class="material-symbols-outlined"> chevron_right </span></a
          >
        </div>

        <!-- 心得卡片 By Anna -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-4">
          <div class="col">
            <div class="position-relative">
              <!-- 展開按鈕(功能) -->
              <input
                type="checkbox"
                id="open-review-card1"
                class="open-review-card1 d-none"
              />
              <div
                class="card card-body fs-body-3 rounded-5 border bg-white outline-shadow-sm px-5 pt-4 py-7 text position-relative gradient"
              >
                <!-- 卡片標題 -->
                <div class="d-flex align-items-center mb-3">
                  <img
                    class="me-3"
                    src="../assets/images/PFP/PFP_MeiMom.png"
                    alt="user photo"
                  />
                  <div class="d-flex flex-column">
                    <small class="text-neutral-500">@jfsojf9</small>
                    <p class="fs-body-3">
                      小華<span class="ms-1">的家長</span>
                    </p>
                  </div>
                </div>
                <!-- 卡片內容 -->
                <h5 class="fw-bold mb-3 text-nowrap overflow-hidden">
                  看見孩子眼中的彩色世界
                </h5>
                <p class="fs-body-3">
                  自從小華參加了色彩魔法師課程，她看世界的眼光變得不一樣了。現在出門她總會指著街上的景物，興奮地說：「媽媽，你看那是互補色！」我很高興看到她對生活充滿好奇和熱情。這個課程不僅教會她藝術知識，更培養了她觀察和欣賞美的能力。自從小華參加了色彩魔法師課程，她看世界的眼光變得不一樣了。現在出門她總會指著街上的景物，興奮地說：「媽媽，你看那是互補色！」
                </p>
                <!-- 展開按鈕(文字) -->
                <label
                  class="btn btn-light border rounded-3 position-absolute bottom-0 start-50 translate-middle-x mb-4 text-nowrap"
                  for="open-review-card1"
                >
                </label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="position-relative">
              <!-- 展開按鈕(功能) -->
              <input
                type="checkbox"
                id="open-review-card2"
                class="open-review-card2 d-none"
              />
              <div
                class="card card-body fs-body-3 rounded-5 border bg-white outline-shadow-sm px-5 pt-4 py-7 text position-relative gradient"
              >
                <!-- 卡片標題 -->
                <div class="d-flex align-items-center mb-3">
                  <img
                    class="me-3"
                    src="../assets/images/PFP/PFP_BaoDad.png"
                    alt="user photo"
                  />
                  <div class="d-flex flex-column">
                    <small class="text-neutral-500">@ajko39</small>
                    <p class="fs-body-3">
                      大寶<span class="ms-1">的家長</span>
                    </p>
                  </div>
                </div>
                <!-- 卡片內容 -->
                <h5 class="fw-bold mb-3 text-nowrap overflow-hidden">
                  運動讓我們的感情更親密
                </h5>
                <p class="fs-body-3">
                  運動讓我們的感情更親密！大寶以前總愛宅在家裡打電動，參加了運動樂趣多課程後，他變得活潑開朗多了。現在周末我們經常一起去公園打球，不僅鍛鍊了身體，父子感情也更好了。看到他在陽光下奔跑的樣子，我感到無比欣慰。
                </p>
                <!-- 展開按鈕(文字) -->
                <label
                  class="btn btn-light border rounded-3 position-absolute bottom-0 start-50 translate-middle-x mb-4 text-nowrap"
                  for="open-review-card2"
                >
                </label>
              </div>
            </div>
          </div>
          <div class="col d-none d-xl-block">
            <div class="position-relative">
              <!-- 展開按鈕(功能) -->
              <input
                type="checkbox"
                id="open-review-card3"
                class="open-review-card3 d-none"
              />
              <div
                class="card card-body fs-body-3 rounded-5 border bg-white outline-shadow-sm px-5 pt-4 py-7 text position-relative gradient"
              >
                <!-- 卡片標題 -->
                <div class="d-flex align-items-center mb-3">
                  <img
                    class="me-3"
                    src="../assets/images/PFP/PFP_MiiMom.png"
                    alt="user photo"
                  />
                  <div class="d-flex flex-column">
                    <small class="text-neutral-500">@Yajidji dji</small>
                    <p class="fs-body-3">
                      小米<span class="ms-1">的家長</span>
                    </p>
                  </div>
                </div>
                <!-- 卡片內容 -->
                <h5 class="fw-bold mb-3 text-nowrap overflow-hidden">
                  情緒管理改變了家庭氛圍
                </h5>
                <p class="fs-body-3">
                  小米以前脾氣很大，動不動就發脾氣。上了情緒管理小高手的課後，她學會了用畫畫來表達情緒。有一次她不開心，竟然主動拿出畫本畫畫，然後平靜地跟我溝通。我驚訝於她的轉變，感覺整個家庭的氣氛都變好了。
                </p>
                <!-- 展開按鈕(文字) -->
                <label
                  class="btn btn-light border rounded-3 position-absolute bottom-0 start-50 translate-middle-x mb-4 text-nowrap"
                  for="open-review-card3"
                >
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 1 對 1 講師 -->
    <div class="one-to-one py-7">
      <div class="container-index">
        <div class="d-flex justify-content-between mb-5">
          <div class="d-flex align-items-center">
            <h2 class="fs-4 me-3">1 對 1 講師</h2>
            <p class="fs-4 text-neutral-200 me-3">|</p>
            <p class="text-neutral-500 fs-body-1">專屬指導，讓學習更精準！</p>
          </div>
          <a href="#" class="d-flex align-items-center view-more"
            >查看更多
            <span class="material-symbols-outlined"> chevron_right </span></a
          >
        </div>

        <!-- 平板 swiper -->
        <div class="swiper swiperLecturers d-lg-none">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="lecturer-card rounded-5">
                <div class="d-flex">
                  <img
                    src="/assets/images/Teacher/teacher_Lisa_lg.png"
                    class="card-img-left"
                    alt="..."
                  />
                  <div
                    class="card-body d-flex flex-column justify-content-between"
                  >
                    <div class="">
                      <h4 class="fw-bold mb-3">陳美玲</h4>
                      <p class="fs-body-2 overflow-hidden text mb-2">
                        陳老師將採用互動式和遊戲化的教學方法，讓孩子在輕鬆愉快的氛圍中學習音樂。課程結束時，每個孩子都將完成一個個人音樂項目，可能是一首原創歌曲、一段器樂演奏，或是一個小型音樂劇表演。這不僅培養了孩子的音樂技能，還能增強他們的創造力、表達能力和自信心。
                        一對一的授課模式使老師能夠靈活調整課程進度和內容，確保完全符合每個孩子的需求和學習風格，讓每個小音樂家都能找到屬於自己的獨特聲音。
                      </p>
                    </div>
                    <div class="d-flex justify-content-end">
                      <a
                        href="#"
                        class="btn btn-light d-flex align-items-center"
                      >
                        前往了解<span class="material-symbols-outlined ms-1">
                          chevron_right
                        </span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lecturer-card rounded-5">
                <div class="d-flex">
                  <img
                    src="/assets/images/Teacher/Teacher_Emily.png"
                    class="card-img-left right-center"
                    alt="..."
                  />
                  <div
                    class="card-body d-flex flex-column justify-content-between"
                  >
                    <div class="">
                      <h4 class="fw-bold mb-3">趙夢琳</h4>
                      <p class="fs-body-2 overflow-hidden text mb-2">
                        趙夢琳老師將根據每個孩子的興趣和想像力，引導他們創作屬於自己的童話故事。課程包括角色設計、情節構思、對話創作等環節，並將孩子的故事製作成小書或動畫。這不僅培養孩子的寫作技巧和創造力，還能增強他們的自信心和表達能力。
                      </p>
                    </div>
                    <div class="d-flex justify-content-end">
                      <a
                        href="#"
                        class="btn btn-light d-flex align-items-center"
                      >
                        前往了解<span class="material-symbols-outlined ms-1">
                          chevron_right
                        </span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lecturer-card rounded-5">
                <div class="d-flex">
                  <img
                    src="/assets/images/Teacher/Teacher_Steve.png"
                    class="card-img-left"
                    alt="..."
                  />
                  <div
                    class="card-body d-flex flex-column justify-content-between"
                  >
                    <div class="">
                      <h4 class="fw-bold mb-3">李博文</h4>
                      <p class="fs-body-2 overflow-hidden text mb-2">
                        李博文老師將根據每個孩子的好奇心和學習程度，設計個性化的科學實驗。課程涵蓋物理、化學、生物等多個領域，通過有趣的實驗激發孩子的科學探索精神。孩子們將學習提出假設、進行實驗、記錄數據和得出結論的科學方法。這個課程不僅能增進科學知識，還能培養孩子的邏輯思維和動手能力。每節課都會有一個小型科學項目，讓孩子能夠將所學應用到實際中。
                      </p>
                    </div>
                    <div class="d-flex justify-content-end">
                      <a
                        href="#"
                        class="btn btn-light d-flex align-items-center"
                      >
                        前往了解<span class="material-symbols-outlined ms-1">
                          chevron_right
                        </span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 電腦 swiper -->
      <div class="swiper swiperLecturersLg d-none d-lg-block">
        <div class="swiper-wrapper swiper-wrapper-20">
          <div class="swiper-slide swiperLecturers-overlay swiper-slide-20">
            <div class="lecturer-card rounded-5">
              <div class="d-flex">
                <img
                  src="/assets/images/Teacher/Teacher_Lisa.png"
                  class="card-img-left"
                  alt="..."
                />
                <div
                  class="card-body d-flex flex-column justify-content-between"
                >
                  <div class="">
                    <h4 class="fw-bold mb-3">陳美玲</h4>
                    <p class="fs-body-2 overflow-hidden text mb-2">
                      陳老師將採用互動式和遊戲化的教學方法，讓孩子在輕鬆愉快的氛圍中學習音樂。課程結束時，每個孩子都將完成一個個人音樂項目，可能是一首原創歌曲、一段器樂演奏，或是一個小型音樂劇表演。這不僅培養了孩子的音樂技能，還能增強他們的創造力、表達能力和自信心。
                      一對一的授課模式使老師能夠靈活調整課程進度和內容，確保完全符合每個孩子的需求和學習風格，讓每個小音樂家都能找到屬於自己的獨特聲音。
                    </p>
                  </div>
                  <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-light d-flex align-items-center">
                      前往了解<span class="material-symbols-outlined ms-1">
                        chevron_right
                      </span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiperLecturers-overlay swiper-slide-20">
            <div class="lecturer-card rounded-5">
              <div class="d-flex">
                <img
                  src="/assets/images/Teacher/Teacher_Emily.png"
                  class="card-img-left right-center"
                  alt="..."
                />
                <div
                  class="card-body d-flex flex-column justify-content-between"
                >
                  <div class="">
                    <h4 class="fw-bold mb-3">趙夢琳</h4>
                    <p class="fs-body-2 overflow-hidden text mb-2">
                      趙夢琳老師將根據每個孩子的興趣和想像力，引導他們創作屬於自己的童話故事。課程包括角色設計、情節構思、對話創作等環節，並將孩子的故事製作成小書或動畫。這不僅培養孩子的寫作技巧和創造力，還能增強他們的自信心和表達能力。
                    </p>
                  </div>
                  <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-light d-flex align-items-center">
                      前往了解<span class="material-symbols-outlined ms-1">
                        chevron_right
                      </span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiperLecturers-overlay swiper-slide-20">
            <div class="lecturer-card rounded-5">
              <div class="d-flex">
                <img
                  src="/assets/images/Teacher/Teacher_Steve.png"
                  class="card-img-left"
                  alt="..."
                />
                <div
                  class="card-body d-flex flex-column justify-content-between"
                >
                  <div class="">
                    <h4 class="fw-bold mb-3">李博文</h4>
                    <p class="fs-body-2 overflow-hidden text mb-2">
                      李博文老師將根據每個孩子的好奇心和學習程度，設計個性化的科學實驗。課程涵蓋物理、化學、生物等多個領域，通過有趣的實驗激發孩子的科學探索精神。孩子們將學習提出假設、進行實驗、記錄數據和得出結論的科學方法。這個課程不僅能增進科學知識，還能培養孩子的邏輯思維和動手能力。每節課都會有一個小型科學項目，讓孩子能夠將所學應用到實際中。
                    </p>
                  </div>
                  <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-light d-flex align-items-center">
                      前往了解<span class="material-symbols-outlined ms-1">
                        chevron_right
                      </span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Swiper navigation -->
        <div
          class="swiper-lecturers-next position-absolute translate-middle top-50 end-0 z-1"
        >
          <span class="ic--round-keyboard-arrow-right"></span
          ><span class="swiper-arrow translate-middle"></span>
        </div>
        <div
          class="swiper-lecturers-prev position-absolute translate-middle top-50 z-1"
        >
          <span class="ic--round-keyboard-arrow-left"></span
          ><span class="swiper-arrow translate-middle"></span>
        </div>
      </div>
      <!-- Swiper pagination -->
      <div class="text-center mt-7">
        <div class="swiper-pagination-lecturer pagination-color"></div>
      </div>
    </div>

    <div class="bg-primary-100"><%- include('./layout/footer'); -%></div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script type="module" src="../main.js"></script>
    <!-- 載入 Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      // Banner Swiper
      const swiperBanner = new Swiper(".swiperBanner", {
        slidesPerView: 1.33,
        spaceBetween: 16,

        breakpoints: {
          1440: {
            slidesPerView: 1.2,
          },
          1540: {
            slidesPerView: 1.3,
          },
          1640: {
            slidesPerView: 1.4,
          },
          1740: {
            slidesPerView: 1.5,
          },
          1840: {
            slidesPerView: 1.6,
          },
          1940: {
            slidesPerView: 1.7,
          },
        },

        pagination: {
          el: ".swiper-pagination",
        },

        navigation: {
          nextEl: ".swiper-next",
        },
      });

      //  1 對 1 講師 Swiper 平板
      const swiperLecturers = new Swiper(".swiperLecturers", {
        slidesPerView: 1,
        spaceBetween: 32,

        pagination: {
          el: ".swiper-pagination-lecturer",
        },
      });

      //  1 對 1 講師 Swiper 電腦
      const swiperLecturersLg = new Swiper(".swiperLecturersLg", {
        slidesPerView: 1.7,
        spaceBetween: 32,
        centeredSlides: true,

        pagination: {
          el: ".swiper-pagination-lecturer",
        },

        navigation: {
          nextEl: ".swiper-lecturers-next",
          prevEl: ".swiper-lecturers-prev",
        },
      });
    </script>
  </body>
</html>
